{% trans_default_domain 'character' %}

<div class="modal fade" id="avatarModal" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content block-solid">
      <form data-action="character--avatar#update" name="avatar" data-character--avatar-target="form" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="avatarModalLabel">{{'avatar.change'|trans }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input class="form-control" type="file" name="avatar[upload]"/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            {{ 'avatar.save'|trans }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>