{% trans_default_domain 'character' %}

<div class="modal fade" id="newDerangementModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h4 class="modal-title text-sub">{{ "derangement.new"|trans }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ path('character_derangement_new', { 'id' : character.id }) }}" method="POST">
          <div class="row">
            <div class="col-12 mb-3">
              {% include "character_sheet/element/derangement_select.html.twig" with {'required': true} %}
            </div>
          </div>
          {% include "character_sheet/element/derangement_list.html.twig" %}
          <div class="row">
            <div class="col-12">
              <label class="accent" for="details">{{ "details"|trans }}</label>
              <input class="form-control" name="details" type="text">
            </div>
            <div class="col-12">
              <button class="btn btn-warning w-100 mt-5">
                {% include "_icon.html.twig" with {'icon': 'derangement'} %}
                {{ 'action.confirm'|trans([], 'app') }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
