<div id="{{ virtue.id }}" class="col-12 mb-4">
  <div class="block block-wiki p-2">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path(entity ~ '_edit', {'id': virtue.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    <h2>{{ virtue.name }}</h2>
    <p class="text">{{ virtue.details|default("")|markdown_to_html }}</p>
  </div>
</div>
