{% extends "base.html.twig" %}

{% trans_default_domain 'character' %}

{% if virtues is defined %}
  {% set type = "virtue" %}
  {% set elements = virtues %}
{% else %}
  {% set type = "vice" %}
  {% set elements = vices %}
{% endif %}

{% block title %}
  {{ "#{type}.label.multi"|trans }}
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}

  {% include "_title.html.twig" with {title: "#{type}.label.multi" , domain: "character", icon: type} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 pb-2 justify-content-center">
      {% for element in elements %}
        <div class="col-4">
          {% include "virtue/_card.html.twig" %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
