{% extends "base.html.twig" %}

{% trans_default_domain 'character' %}

{% if virtue is defined %}
  {% set type = "virtue" %}
{% else %}
  {% set type = "vice" %}
  {% set virtue = vice %}
{% endif %}

{% block title %}{{ virtue.name }}{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path("#{type}_edit", {id: virtue.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    
    {% include "virtue/_show.html.twig" with {isModal: 0} %}
  </div>

  {% include "_back.html.twig" %}
{% endblock %}
