{% trans_default_domain 'skill' %}

<p class="text-center text-sub" data-character--creation-target="creationSpec">({{ "specialty.creation"|trans }})</p>
<div class="col-12 col-lg-4">
  <div class="p-1">
    {{ form_widget(form.specialty1) }}
  </div>
</div>
<div class="col-12 col-lg-4">
  <div class="p-1">
    {{ form_widget(form.specialty2) }}
  </div>
</div>
<div class="col-12 col-lg-4">
  <div class="p-1">
    {{ form_widget(form.specialty3) }}
  </div>
</div>
