{% extends "character_sheet_type/vampire/disciplines/elements.html.twig" %}

{% trans_default_domain 'discipline' %}

{% block list %}
  {% set max = 5 %}
  {% set maxPower = 5 %}
  {% for characterDiscipline in characterDisciplines %}
    {% set min = characterDiscipline.level %}
    {% set base = characterDiscipline.level %}
    {% set max = characterDiscipline.discipline.maxLevel %}
    {% include "character_sheet_type/vampire/disciplines/edit/coil.html.twig" with {
      characterDiscipline: characterDiscipline,
      discipline: characterDiscipline.discipline
    } %}
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">{{ 'coil.learn'|trans }}</h2>
  {% for discipline in disciplines %}
    {% set min = 0 %}
    {% set max = discipline.maxLevel %}
    {% set base = 0 %}
    {% include "character_sheet_type/vampire/disciplines/edit/coil.html.twig" with {
      discipline : discipline, customBlock : 'discipline-new-block'
    } %}
  {% endfor %}
{% endblock %}
