{% trans_default_domain 'character' %}

{% block attributes %}
<h2 class="text-center">Attributes</h2>
<p class="text-center text-sub">
  <span data-character--creation-target="creationAttr">0</span>/5 |
  <span data-character--creation-target="creationAttr">0</span>/4 |
  <span data-character--creation-target="creationAttr">0</span>/3 |
  {% trans %}dot.fifth{% endtrans %}
</p>
{% set attributes = {
  'mental': {
    'power': 'intelligence',
    'finesse': 'wits',
    'resistance': 'resolve'
  }, 
  'physical': {
    'power': 'strength',
    'finesse': 'dexterity',
    'resistance': 'stamina'
  }, 
  'social': {
    'power': 'presence',
    'finesse': 'manipulation',
    'resistance': 'composure'
  }
} %}
{% set max = 5 %}
{% set min = 1 %}
{% set base = 1 %}
<div class="row">
  {% for category, attributes in attributes %}
    <div class="col-md-4 d-md-flex justify-content-center">
      <div class="block attribute-block">
        <h3 class="text-center pt-1">{{ category|trans }}</h3>
        {% for type, attribute in attributes %}
          {% include "character/edit/attribute.html.twig" with {'category': category, 'type': type, 'attribute': attribute, 'base': attribute(character, attribute), 'max': max, 'min': min } %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}