{% extends 'base.html.twig' %}

{% trans_default_domain 'vampire' %}

{% block title %}{% endblock %}

{% block body %}
  <h1 class="pt-4">{% block header %}{% endblock %}</h1>
  <div class="container block block-light py-3 mt-5">
    <div class="row">
      <div class="col">
        {% block form %}{% endblock %}
        {% block actions %}{% endblock %}
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-auto">
      {% include "back.html.twig" %}
    </div>
  </div>
{% endblock %}