<img class="character-icon" src={% include "character/_icon.html.twig" %} />
<div class="flex-fill text-center text-strong">{{ character.type|trans({}, 'content-type') }}</div>
<img class="character-icon" src={% include "character/_icon_special.html.twig" %} />