<img class="character-icon flip" src="{{ asset('rabbit_move_slow.gif', 'images') }}" />
<div class="w-100 text-center text-strong">{{ "human"|trans({}, 'content-type') }}</div>
<img class="character-icon" src="{{ asset('rabbit_move_slow.gif', 'images') }}" />