{% include "_icon.html.twig" with {icon : "type/" ~ type, class: 'character-icon lesser-icon'} only %}
<div class="flex-fill text-center text-strong lesser">{{ type|trans({}, 'content-type') }}</div>
<img class="character-icon" src="{{ asset('rabbit_move_slow.gif', 'images') }}" />