{% if access.hasRight('clan')|default(false) %}
  {% if character.clan.parentClan is not null %}
    {% if access.hasRight('bloodline')|default(false) %}
      <img class="character-icon" src={% include "character/_icon.html.twig" %} />
    {% else %}
      <img class="character-icon" src="{{ asset(character.clan.parentClan.emblem, 'clans_emblems') }}" onerror="this.src='{{ asset('SkullVTR.png', 'images') }}';this.onerror=null;" />
    {% endif %}
  {% else %}
    <img class="character-icon" src={% include "character/_icon.html.twig" %} />
  {% endif %}
{% else %}
  <img class="character-icon" src="{{ asset('SkullVTR.png', 'images') }}"/>
{% endif %}
<div class="flex-fill text-center text-strong">{{ character.type|trans({}, 'content-type') }}</div>
{% include "character/_icon_special.html.twig" %}