<div class="col-12">
  <a href="{{ path("clan_show", {'id': character.clan.id}) }}">
    {% if character.clan.parentClan %}
      {% include "icon.html.twig" with {'icon': 'bloodline'} %}
      {{ character.clan.name }} ({{ character.clan.parentClan.name }})</a>
    {% else %}
      {% include "icon.html.twig" with {'icon': 'clan'} %}
      {{ character.clan.name }}
    {% endif %}
  </a>
</div>
