{% trans_default_domain 'character' %}

{% block devotions %}
<h2 class="text-center py-3 user-select-none">devotions</h2>
{% block creation %}{% endblock %}
<div class="row">
  {% block list %}
  {% endblock %}
</div>
{% endblock %}