{% trans_default_domain 'character' %}

<div id="menu" class="container">
  <div class="row justify-content-center g-0">
    <div class="col-2">
      {% if not character.isTemplate or is_granted('ROLE_GM') %}
        <a class="btn btn-sm btn-menu btn-primary w-100" href="{{ path('character_edit', {'id': character.id}) }}">
          {% include "_icon.html.twig" with {'icon': 'edit', 'hasTips': 0} only %}
        </a>
      {% endif %}
    </div>
    {% if character.isTemplate %}
      <div class="col-2">
        <a class="btn btn-sm btn-menu btn-primary w-100" href="{{ path('character_duplicate', {'id': character.id}) }}">
          {% include "_icon.html.twig" with {'icon': 'duplicate'} only %}
        </a>
      </div>
    {% endif %}
    <div class="col-2">
      <div class="btn btn-sm btn-menu btn-primary w-100" data-bs-toggle="modal" data-bs-target="#xpLogsModal">
        {% include "_icon.html.twig" with {'icon': 'logs'} only %}
      </div>
    </div>
    <div class="col-2">
      <div class="btn btn-sm btn-menu btn-primary w-100" data-bs-toggle="modal" data-bs-target="#abilityRemovalModal">
        {% include "_icon.html.twig" with {'icon': 'destroy', 'hasTips': 0} only %}
      </div>
    </div>
    <div class="col-2">
      <a href="{% if character.isTemplate %}{{ path('character_generated_index') }}{% else %}{{ path('character_index') }}{% endif %}" class="btn btn-sm btn-menu btn-primary w-100">
        {% include "_icon.html.twig" with {'icon': 'back', 'hasTips': 0} only %}
      </a>
    </div>
  </div>
  <div class="row justify-content-center g-0">
    {% include("character_sheet/show/menu/" ~ character.type ~ ".html.twig") %}
  </div>
</div>
