{% extends "character_sheet/element/morality.html.twig" %}

{% trans_default_domain 'character' %}

{% block morality %}
  <div class="block user-select-none p-1" type="button" data-bs-toggle="collapse" data-bs-target=".morality">
    <h4 class="text-center pt-1">{% include "icon.html.twig" with {'icon' : 'morality', 'hasTips': 0, 'class': 'icon-lg'} only %} {{ 'morality.name'|trans }}</h4>
    <div class="col-12 text-center">
      <h5 class="morality show {% if morality <= 3 %}warning{% else %}strong{% endif %}">{{ morality }}
        <span class="morality text-center show"><i class="fas fa-caret-down"></i></span>
      </h5>
      <div class="morality collapse">
        <p>Lora ipsum</p>
        <span class="morality text-center collapse"><i class="fas fa-caret-up"></i></span>
      </div>
    </div>
  </div>
{% endblock %}