{% trans_default_domain 'character' %}

<div class="row mb-3">
  <div class="col mx-5">
    <h2 class="text-center mt-3">{% trans %}infos.description{% endtrans %}</h2>
    {{ form_widget(form.description) }}
    <h2 class="text-center my-3">{% trans %}infos.background{% endtrans %}</h2>
    {{ form_widget(form.background) }}
  </div>
</div>
