{% extends "character_sheet/element/merits.html.twig" %}

{% trans_default_domain 'character' %}

{% block creation %}
  <p class="text-center text-sub"><span data-character--creation-target="creationMerit">0</span>/7 |{% trans %}dot.fifth{% endtrans %}</p>
{% endblock %}

{% block list %}
  {% for merit in merits %}
    {% include "character_sheet/new/merit.html.twig" %}
  {% endfor %}
{% endblock %}