{% extends "base.html.twig" %}

{% set setting = 'mage' %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-12 col-xl-4 p-1">
      {% include "mage/legacy/attainment/_card.html.twig" %}
    </div>
  </div>
{% endblock %}