{% extends "character_sheet/header/edit.html.twig" %}

{% trans_default_domain 'body-thief' %}

{% block header_left_col %}
  {{ parent() }}
  <div class="col-12">
    {{ form_row(form.lesserTemplate.talentType) }}
    {{ form_row(form.lesserTemplate.society) }}
  </div>
{% endblock %}
