# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
  # form:
  #   csrf_protection:
  #     enabled: true
  #     field_name: '_csrf_token'
  #     token_id: 'submit'

  secret: '%env(APP_SECRET)%'
  csrf_protection: true
  # csrf_protection:
    # check_header: 2
    # stateless_token_ids: ['submit', 'authenticate', 'logout']
  http_method_override: false

  # Enables session support. Note that the session will ONLY be started if you read or write from it.
  # Remove or comment this section to explicitly disable session support.
  session:
    handler_id: 'session.handler.native_file'
    save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    cookie_secure: auto
    cookie_samesite: lax
    storage_factory_id: session.storage.factory.native
    cookie_lifetime: 604800

  #esi: true
  #fragments: true
  php_errors:
    log: true
  assets:
    packages:
      images:
        base_path: /images/
      books:
        base_path: /images/books/
      items:
        base_path: /images/items/
      characters:
        base_path: /images/characters/
      organizations_emblems:
        base_path: /images/organizations/emblems/
      # Vampire
      clans:
        base_path: /images/clans/
      clans_emblems:
        base_path: /images/clans/emblems/
      ghoul_family_emblems:
        base_path: /images/ghoul/emblems/
      # Mage
      paths_emblems:
        base_path: /images/paths/emblems/
      icons:
        base_path: /icons/
      # Werewolf
      auspices_emblems:
        base_path: /images/auspices/emblems/
      tribes_emblems:
        base_path: /images/tribes/emblems/
when@test:
  framework:
    test: true
    session:
      storage_factory_id: session.storage.factory.mock_file
