{% extends 'base.html.twig' %}

{% block title %}Edit Character{% endblock %}

{% block body %}
  <h1>Edit Character</h1>
  <a href="{{ path('character_index') }}">back to list</a>
  {{ include('character/edit/sheet.html.twig') }}
{% endblock %}
