{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ 'pc.label.multi'|trans }}{% endblock %}

{% set footer = true %}
{% block bodyData %}
  data-controller="search" data-search-type-value="character"
{% endblock %}

{% if characters is defined %}
  {% set tab = "pc" %}
{% elseif npc is defined %}
  {% set tab = "npc" %}
{% else %}
  {% set tab = "premade" %}
{% endif %}


{% block body %}
  
  <div class="container-fluid container-lg">
    <div class="row block" data-controller="tabs" data-tabs-initial-value="{{ tab }}">
      <ul class="nav tabs g-0">
        {% if characters is defined %}
          {% include "_tab.html.twig" with {name: 'pc', icon: 'character', label: 'pc.label.multi'|trans} only %}
        {% endif %}
        {% if npc is defined %}
          {% include "_tab.html.twig" with {name: 'npc', label: 'npc.label.multi'|trans} only %}
        {% endif %}
        {% if premade is defined %}
          {% include "_tab.html.twig" with {name: 'premade', label: 'premade.label.multi'|trans} only %}
        {% endif %}
      </ul>
      {% if characters is defined %}
        <div id="pc" class="py-0 d-none" data-tabs-target="page">
          {% include 'character/_list.html.twig' with { characters: characters, category: 'pc', title: 'pc.label.multi', icon: 'character' } only %}
        </div>
      {% endif %}
      {% if npc is defined %}
        <div id="npc" class="py-0 d-none" data-tabs-target="page">
          {% include 'character/_list.html.twig' with { characters: npc, category: 'npc', title: 'npc.label.multi' } only %}
        </div>
      {% endif %}
      {% if premade is defined %}
        <div id="premade" class="py-0 d-none" data-tabs-target="page">
          {% include 'character/_list.html.twig' with { title: 'premade.label.multi', characters: premade, category: 'premade' } only %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
