{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ 'pc.label.multi'|trans }}{% endblock %}

{% set footer = true %}
{% block bodyData %}
  data-controller="search" data-search-type-value="character"
{% endblock %}

{% block body %}
  <div class="container-fluid container-lg py-3">
    <div class="row my-3">
      {% if characters is defined %}
        {% include 'character/_list.html.twig' with { characters: characters, type: 'pc', title: 'pc.label.multi', icon: 'character' } %}
      {% endif %}
      {% if npc is defined %}
        {% include 'character/_list.html.twig' with { characters: npc, type: 'npc', title: 'npc.label.multi' } %}
      {% endif %}
      {% if premade is defined %}
        {% include 'character/_list.html.twig' with { title: 'premade.label.multi', characters: premade, type: 'premade' } %}
      {% endif %}
    </div>
  </div>
{% endblock %}
