{% extends "character_sheet/attributes/elements.html.twig" %}

{% trans_default_domain 'character' %}

{% block title %}{% endblock %}

{% block creation %}
  <p class="text-center text-strong">
    <span data-character--creation-target="creationAttr">0</span>/5 |
    <span data-character--creation-target="creationAttr">0</span>/4 |
    <span data-character--creation-target="creationAttr">0</span>/3 |
    {% trans %}dot.fifth{% endtrans %}
  </p>
{% endblock %}

{% block attribute %}
  {% set max = 5 %}
  {% set min = 1 %}
  {% set base = 1 %}
  {% include "character_sheet/attributes/new/element.html.twig" with {base: attribute(character.attributes, attribute.id) } %}
{% endblock %}
