{% extends "character_sheet_type/mage/arcana/elements.html.twig" %}

{% trans_default_domain 'mage' %}

{% block list %}
  {% set maxPower = 5 %}
  {% for chArcanum in characterArcana|sort((a, b) => a.name <=> b.name) %}
    {% set min = chArcanum.level %}
    {% set base = chArcanum.level %}
    {% set max = character.maxArcanumMastery(chArcanum.arcanum) %}
    {% if min < max %}
      {% include "character_sheet_type/mage/arcana/edit/element.html.twig" with {chArcanum: chArcanum, arcanum: chArcanum.arcanum } %}
    {% endif %}
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">New Arcanum</h2>
  {% for arcanum in arcana %}
    {% set min = 0 %}
    {% set base = 0 %}
    {% set max = character.maxArcanumMastery(arcanum) %}
    {% include "character_sheet_type/mage/arcana/edit/element.html.twig" with {arcanum: arcanum, customBlock: 'block block-light' } %}
  {% endfor %}
{% endblock %}
