{% extends "character_sheet/edit.html.twig" %}

{% trans_default_domain 'mage' %}

{% set path = character.path %}

{% block header %}
  {% include "character_sheet_type/mage/header/edit.html.twig" %}
{% endblock %}

{% block form_start %}
  {% set controllers = {
      'data-controller': "character--merits character--edit mage--edit",
  } %}
  {% set data = {
    'data-action': "character--edit:change->character--merits#checkPrerequisite character--edit:arcana->mage--edit#updateArcana",
    'data-mage--edit-arcana-value': character.arcanaLevel|json_encode
  } %}
  {{ parent() }}
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'mage', label: 'mage'|trans({}, 'content-type'), icon: 'type/mage'} only %}
{% endblock %}

{% block special %}
  <div id="mage" class="g-0 d-none" data-tabs-target="page">
    {% include "character_sheet_type/mage/powers/edit.html.twig" %}
  </div>
{% endblock %}


{% block modals %}
  {{ parent() }}
  {# {% include "character_sheet/modals/mage/power_show.html.twig" %} #}
  {# {% include "character_sheet/modals/mage/spell_show.html.twig" %} #}
{% endblock %}