{% trans_default_domain 'app' %}

{% set first = true %}

<a href="{{ path('rule_show', {'id': rule.id }) }}">
  <div class="col-12 btn btn-primary rounded-0">
    <h2>{{ rule.title }}</h2>
    {% if rule.subrules is not empty %}
      <h4>Includes</h4>
    {% endif %}
    <div class="row">
      {% for subrule in rule.subrules %}
        <div class="col-4 mt-3 text-center">
          <h5>{{ subrule.title }}</h5>
          <p>{{ "source"|trans({'page': subrule.page, 'book': subrule.book.short }) }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</a>
