{% extends "base.html.twig" %}

{% block body %}
<div class="container block py-3">
  <div class="accordion" id="accordionMerits">
    {% for power in powers|sort((a, b) => a.name|lower <=> b.name|lower)  %}
      {% include "merit/card.html.twig" with {'merit': power} %}
    {% endfor %}
  </div>
</div>

{% endblock %}