{% extends "base.html.twig" %}

{% trans_default_domain 'psychic' %}

{% block title %}{{ "psychic"|trans({}, 'content-type') }}{% endblock %}

{% set footer = true %}

{% block body %}
  {% include "_back.html.twig" %}
  <h1 class="pt-1">
    {% include "_icon.html.twig" with {icon: 'type/psychic' } only %}
    {{ "psychic"|trans({}, 'content-type') }}
  </h1>
  <div class="container-fluid container-lg">
    <div class="row" data-controller="tabs" data-tabs-initial-value="merits">
      <div class="col-12">
        <div class="block">
          {# tabs #}
          <ul class="nav tabs g-0">
            {# {% include "_tab.html.twig" with {name: 'infos', icon: 'info', label: 'infos'|trans(domain: 'app')} only %} #}
            {% include "_tab.html.twig" with {name: 'merits', icon: 'merit', label: 'label.multi'|trans(domain: 'merit') } only %}
          </ul>
          {# content #}
          {# infos #}
          {# <div id="infos" class="tab-content py-0 d-none" data-tabs-target="page">
          <div class="row">
          </div>
          </div> #}
          {# merits #}
          <div id="merits" class="tab-content g-0 d-none" data-tabs-target="page">
            <div class="row">
              <div class="col-12 p-2">
                {% for merit in powers|sort((a, b) => a.name|lower <=> b.name|lower) %}
                {% include 'merit/card.html.twig' %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex align-items-center position-relative">
    {% if is_granted('ROLE_ST') %}
      <a class="btn btn-primary ms-auto" href="{{ path('merit_new', {type: 'type', id: 'psychic'}) }}">
        {% include "_icon.html.twig" with {icon : 'add' } only %}
        {% include "_icon.html.twig" with {icon : 'merit' } only %}
      </a>
    {% endif %}
  </div>
{% endblock %}