{% trans_default_domain 'app' %}

{% set peekingRights = character.peekingRights|default(null) %}

<div class="row" data-controller="search" data-search-type-value="character">
  {% if peekingRights is empty %}
    {{ 'empty'|trans }}
  {% else %}
    <div class="col-12 text-center pb-3">
      {% include "_icon.html.twig" with {'icon' : 'search' } only %}
      <input type="text" class="search-field text-strong rounded" data-search-target="query" data-action="search#getResults"/>
    </div>
    {% for peekingRight in character.peekingRights %}
      {% if peekingRight.rights is not empty %}
        {% include 'character/_peeking_card.html.twig' with { character: peekingRight.target, access: peekingRight } only %}
      {% endif %}
    {% endfor %}
	{% endif %}
</div>

