{% extends 'base.html.twig' %}

{% trans_default_domain 'chronicle' %}
{% set setting = chronicle.type %}

{% block body %}
  <div class="container-fluid container-lg py-3">
    <h1 class="strong">
      {% include "_icon_setting.html.twig" with {setting: chronicle.type } only %}
      {{ chronicle.name }}
    </h1>
    {% include 'chronicle/infos/basics.html.twig' %}
    <div class="row block" data-controller="tabs" data-tabs-initial-value="characters">
      <ul class="nav tabs row g-0">
        {% include "_tab.html.twig" with {name: 'characters', label: 'label.multi'|trans({}, 'character')} only %}
        {% include "_tab.html.twig" with {name: 'items', label: 'label.multi'|trans({}, 'item'), icon: 'item'} only %}
      </ul>
      <div id="characters" class="tab-content d-none" data-tabs-target="page">
        {% include 'chronicle/infos/_characters.html.twig' %}
      </div>
      <div id="items" class="tab-content d-none p-0" data-tabs-target="page">
        {% include 'chronicle/infos/_items.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
