{% extends 'base.html.twig' %}

{% trans_default_domain 'chronicle' %}
{% set setting = chronicle.type %}

{% set footer = true %}
{% block bodyData %}
  data-controller="search" data-search-type-value="merit"
{% endblock %}

{% block body %}
  {% include '_back.html.twig' %}
  <div class="container-fluid container-lg py-3">
    <h1 class="strong">
      {% include "_icon_setting.html.twig" with {'setting': chronicle.type } only %}
      {{ chronicle.name }}
    </h1>
    {% include 'chronicle/infos/basics.html.twig' %}
    <div class="row block py-2">
      <h2>{% include "_icon.html.twig" with { icon: 'characters', class: 'icon-strong' } only %}{{ "label.multi"|trans({}, 'character') }}</h2>
      {% include 'chronicle/infos/characters.html.twig' %}
    </div>
  </div>
{% endblock %}
