{% trans_default_domain 'vampire' %}

<div class="block user-select-none h-100 p-3">
  <h3 class="text-center pt-1">{% include "_icon.html.twig" with {'icon' : 'vitae', 'hasTips': 0, 'class': 'icon-lg' } only %} {{ "ghoul.vitae.info"|trans }}</h3>
  <div class="d-flex flex-column align-items-start">
    <p>{{ "ghoul.vitae.usage"|trans|markdown_to_html }}</p>
  </div>
</div>