{% trans_default_domain 'item' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = true %}
{% set id = "#{item.id}Modal" %}

{% block data %}
{% endblock %}

{% block title %}
  {{ item.name }}
  {% include "_icon.html.twig" with {icon: item.typeName} %}
{% endblock %}

{% block body %}
  <div class="text-strong text-center">
    {% if item.img is not null %}
      <img class="rounded p-1 img-fluid" src="{{ asset(item.img, 'items') }}" alt="{{ item.name}}"/>
    {% elseif item.isContainer %}
      {% include "_icon.html.twig" with {icon: 'container', class: 'mx-auto d-block icon-100'} %}
    {% else %}
      {% include "_icon.html.twig" with {icon: item.typeName, class: 'mx-auto d-block icon-100'} %}
    {% endif %}
  </div>
  {% include "item/list/_item.html.twig" ignore missing %}
{% endblock %}

{% block footer %}
  {% if item.owner is not null %}
    <a class="btn btn-primary d-block" href="{{ path('item_edit', { 'id' : item.id }) }}">{% include "_icon.html.twig" with {icon: 'edit', class:'text-strong'} only %}</a>
  {% endif %}
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
{% endblock %}