{% extends "base.html.twig" %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block shortcuts %}
  {% if access_decision('edit', path).isGranted %}
    <a class="btn btn-primary mb-2" href="{{ path('mage_path_edit', {id: path.id}) }}">
      {% include "_icon.html.twig" with {icon: 'edit'} only %}
    </a>
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    
    {% include "mage/path/_show.html.twig" with {isModal: 0} %}
  </div>

  
{% endblock %}
