{% extends "base.html.twig" %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('mage_path_edit', {id: path.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    
    {% include "mage/path/_show.html.twig" with {isModal: 0} %}
  </div>

  {% include "_back.html.twig" %}
{% endblock %}
