{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set first = true %}

{% block shortcuts %}
  {% if access_decision('edit', roll).isGranted %}
    <a class="btn btn-primary mb-2" href="{{ path('roll_edit', {id: roll.id}) }}">{% include "_icon.html.twig" with {icon : 'edit' } only %}</a>
  {% endif %}
  {% include "_back.html.twig" with {link: path('wiki_index')} %}
  {% include "_top.html.twig" %}
{% endblock %}

{% block body %}
  {% include "roll/_element.html.twig" with {isModal: 0} %}
{% endblock %}
