{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set first = true %}

{% block shortcuts %}
  {% include "_back.html.twig" with {link: path('wiki_index')} %}
  {% include "_top.html.twig" %}
{% endblock %}

{% block body %}
  {% include "roll/_element.html.twig" %}
{% endblock %}

{# <div class="col-2 text-end pe-3">
  <a type="button" href="{{ path('roll_edit', {'id': roll.id }) }}" class="btn btn-primary">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
</div> #}