{% extends 'base.html.twig' %}

{% trans_default_domain 'human' %}

{# Order is important, controllers needed by others need to be put first #}
{% set controllers = {
  'data-controller': 'character--merits character--edit',
} %}

{% block title %}
  {{ character.name }}
{% endblock %}

{% block body %}
  {% block form_controller %}{% endblock %}

  {% block form_start %}
    {# controllers attribute, depend on the type #}
    {# generic attributes, common to all #}
    {% set form_attributes = {
    'class': 'container-fluid container-lg character-sheet',
    'data-action': 'character--edit:change->character--merits#checkPrerequisite',
    'data-character--edit-total-value': character.xpTotal,
    'data-character--edit-used-value': character.xpUsed,
    'data-character--edit-type-value': character.type,
    } %}
    {# merge all atributes together #}
    {{ form_start(form, {'attr': form_attributes|merge(controllers)}) }}
  {% endblock %}

  <input class="xpLogs" value="" type="hidden" name="character[xpLogs]" data-character--edit-target="xpLogs">
    {% block menu %}
      {% include "character_sheet/menu/edit.html.twig" %}
    {% endblock %}
    <div class="row block block-backdrop" data-controller="tabs" data-tabs-initial-value="general">
      {% block header %}
        {% include "character_sheet/header/edit.html.twig" %}
      {% endblock %}
      <ul class="nav tabs g-0">
        {% include "_tab.html.twig" with {name: 'general', label: 'general'|trans({}, 'app')} only %}
        {% include "_tab.html.twig" with {name: 'merits', icon: 'merit', label: 'label.multi'|trans({}, 'merit')} only %}
        {% block specialTab %}{% endblock %}
      </ul>
      <div id="general" class="tab-content d-none" data-tabs-target="page">
        <div class="row justify-content-center">
          <div class="col-12 col-lg mb-3">
            {% include "character_sheet/traits/edit/willpower.html.twig" %}
          </div>
        </div>
        <div class="row justify-content-center">
          {% include "character_sheet/attributes/edit/elements.html.twig" %}
        </div>
        <div class="row">
          {% include "character_sheet/skills/edit/elements.html.twig" %}
        </div>
      </div>
      <div id="merits" class="tab-content d-none p-0" data-tabs-target="page">
        {% include "character_sheet/merits/edit/elements.html.twig" %}
      </div>
      {% block special %}{% endblock %}
    </div>
  </div>
  {% block modals %}
    {# Merit #}
    {% include "character_sheet/modals/merit_show.html.twig" %}
  {% endblock %}
  {{ form_end(form) }}
{% endblock %}
