{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ character.name }}{% endblock %}

{% set tab = "general" %}
{% set subTab = 'description' %}

{% if referer == 'notes' %}
  {% set tab = 'notes' %}
{% endif %}

{% if referer == 'description' %}
  {% set tab = 'details' %}
  {% set subTab = 'description' %}
{% endif %}

{% if referer == 'background' %}
  {% set tab = 'details' %}
  {% set subTab = 'background' %}
{% endif %}

{% if referer == 'access'%}
  {% set tab = 'details' %}
  {% set subTab = 'informations' %}
{% endif %}

{% block body %}
  <div class="container-fluid container-lg py-3 {% block top_margin %}character-sheet{% endblock %}" data-controller="character--experience character--avatar" data-character--experience-id-value="{{ character.id }}" data-character--avatar-id-value="{{ character.id }}">
    {% block menu %}
      {% include "character_sheet/show/menu.html.twig" %}
    {% endblock %}
    {% block header %}
      {% include "character_sheet/show/header.html.twig" %}
    {% endblock %}
    <div class="row block block-backdrop" data-controller="tabs" data-tabs-initial-value="{{ tab }}">
      {% block background %}{% endblock %}
      <ul class="nav tabs row g-0">
        {% include "_tab.html.twig" with {name: 'general', label: 'general'|trans({}, 'app')} only %}
        {% include "_tab.html.twig" with {name: 'merits', icon: 'merit', label: 'label.multi'|trans({}, 'merit')} only %}
        {% block specialTab %}{% endblock %}
        {% include "_tab.html.twig" with {name: 'relation', label: 'relation'|trans} only %}
        {# {% include "_tab.html.twig" with {'name': 'inventory', 'domain': 'character'} only %} #}
        {% include "_tab.html.twig" with {name: 'details', label: 'details'|trans} only %}
        {% if app.user == character.player %}
          {% include "_tab.html.twig" with {name: 'notes', icon: 'note', label: 'label.multi'|trans({}, 'note')} only %}
        {% endif %}
      </ul>
      <div id="general" class="tab-content" data-tabs-target="page">
        <div class="row pb-1">
          <div class="col-12 col-md-6">
            {% block health %}{%include "character_sheet/show/health.html.twig" %}{% endblock %}
          </div>
          <div class="col-12 col-md-6">
            {% include "character_sheet/show/willpower.html.twig" %}
          </div>
        </div>
        {% block traits %}
        {% endblock %}
        <div class="row mb-3">
          {% include "character_sheet/show/advantages.html.twig" %}
        </div>
        <div class="row g-0 mb-3">
          {% include "character_sheet/show/attributes.html.twig" %}
        </div>
        <div class="row g-0 my-3">
          {% include "character_sheet/show/skills.html.twig" %}
        </div>
        {% block subtraits %}
          <div class="row justify-content-center">
            {% include "character_sheet/show/morality.html.twig" with { 'morality': character.moral } %}
          </div>
        {% endblock %}
      </div>
      <div id="merits" class="tab-content p-0" data-tabs-target="page">
        {% include "character_sheet/show/merits.html.twig" %}
      </div>
      {% block powers %}
      {% endblock %}
      <div id="inventory" class="tab-content" data-tabs-target="page">
        {% include "character_sheet/show/inventory.html.twig" %}
      </div>
      <div id="relation" class="tab-content p-0" data-tabs-target="page">
        {% include "character_sheet/show/relations.html.twig" %}
      </div>
      <div id="details" class="tab-content p-0" data-tabs-target="page">
        {% include "character_sheet/show/infos.html.twig" %}
      </div>
      {% if app.user == character.player %}
        <div id="notes" class="tab-content" data-tabs-target="page">
          {% include "character_sheet/show/notes.html.twig" %}
        </div>
      {% endif %}
    </div>
    <div class="row block mt-3 p-2 user-select-none">
      {% include "character_sheet/show/rolls.html.twig" %}
    </div>
    {% block modals %}
      {% if is_granted('edit', character) %}
        {% include "character_sheet/modal/avatar_update.html.twig" %}
        {% include "character_sheet/modal/xp_add.html.twig" %}
        {% include "character_sheet/modal/xp_logs.html.twig" with { 'logs': character.experienceLogs } only %}
        {% include "character_sheet/modal/ability_removal.html.twig" %}
        {% include "character_sheet/modal/morality_decrease.html.twig" %}
        {% include "character_sheet/modal/morality_increase.html.twig" %}
        {% include "character_sheet/modal/new_derangement.html.twig" %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
