{% for prerequisite in merit.prerequisites %}
	{% if prerequisite.entity != null %}
		{% set identifier = prerequisite.entity.identifier|default(prerequisite.entity.id) %}
	{% endif %}
  <span
		data-character--merits-target="prerequisite"
		data-type="{{ prerequisite.realType }}"
		data-name="{{ identifier|default(null) }}"
		data-value="{{ prerequisite.value }}"
	>
		{% include "_prerequisite.html.twig" with { group: group|default(null) } %}
		{% set group = prerequisite.choiceGroup %}
  </span>
{% endfor %}
{% if merit.prerequisites is empty %}
	&nbsp;
{% endif %}
