{% extends "base.html.twig" %}

{% trans_default_domain 'derangement' %}

{% block title %}
	{{ derangement.name }}
{% endblock %}

{% set setting = derangement.type.name|default("human") %}

{% block body %}
	<div class="container py-5">
		{% if is_granted('ROLE_ST') %}
			<a class="float-end" href="{{ path('derangement_edit', {id: derangement.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
		{% endif %}
		{% include "derangement/_show.html.twig" with {isNotModal: true} %}
	</div>

{% endblock %}
