  <p class="text-center">{{ "clan.count"|trans({'%count%': book.parentClans|length}, 'vampire') }}</p>
  <p class="text-center">{{ "clan.bloodline.count"|trans({'%count%': book.bloodlines|length}, 'vampire') }}</p>
  <p class="text-center">{{ "discipline.count"|trans({'%count%': book.disciplines|length}, 'vampire') }}</p>
