{% trans_default_domain 'vampire' %}

<a {% if book.merits|length > 0 %} href="{{ path('merit_list', {'type': 'book', 'id': book.id}) }}"{% endif %}>{{ "clan.count"|trans({'%count%': book.parentClans|length}) }}</a>
<a>{{ "clan.bloodline.count"|trans({'%count%': book.bloodlines|length}) }}</a>
<a>{{ "discipline.count"|trans({'%count%': book.disciplines|length}) }}</a>
