{% trans_default_domain 'vampire' %}

{% if character.potency > 1 and character.clan.isBloodline is same as(false) %}
  <div class="col-2 col-md-4">
      <a class="vampire-btn btn btn-sm btn-menu btn-primary w-100" href="{{ path('vampire_bloodline_join', {'id': character.id}) }}">
        {% include "icon.html.twig" with {'icon': 'bloodline', 'hasTips': 0} only %}
        <span class="d-none d-md-inline">{{ "clan.bloodline.join"|trans }}</span>
      </a>
  </div>
{% endif %}