{% extends "character_sheet/vampire/element/disciplines.html.twig" %}

{% trans_default_domain 'character' %}

{% block list %}
  {% set max = 5 %}
  {% set maxPower = 5 %}
  {% for characterDiscipline in characterDisciplines %}
    {% set min = characterDiscipline.level %}
    {% set base = characterDiscipline.level %}
    {% set max = characterDiscipline.discipline.maxLevel %}
    {% include "character_sheet/vampire/edit/coil.html.twig" with { 'characterDiscipline': characterDiscipline, 'discipline': characterDiscipline.discipline } %}
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">New Disciplines</h2>
  {% for discipline in disciplines %}
    {% set min = 0 %}
    {% set max = discipline.maxLevel %}
    {% set base = 0 %}
    {% include "character_sheet/vampire/edit/coil.html.twig" with {'discipline' : discipline, 'customBlock' : 'discipline-new-block' } %}
  {% endfor %}
{% endblock %}
