{% extends "character_sheet/vampire/element/disciplines.html.twig" %}

{% trans_default_domain 'character' %}

{% block list %}
  {% set max = 5 %}
  {% set maxPower = 5 %}
  {% for characterPower in characterPowers %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="discipline-block w-100 container g-0">
        {% set min = characterPower.level %}
        {% set base = characterPower.level %}
        {% set max = characterPower.discipline.maxLevel %}
        {% include "character_sheet/vampire/edit/coil.html.twig" with { 'characterDiscipline': characterPower, 'discipline': characterPower.discipline } %}
      </div>
    </div>
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">New Disciplines</h2>
  {% for power in powers %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="block w-100 container g-0">
        {% set min = 0 %}
        {% set base = 0 %}
        {% include "character_sheet/vampire/edit/coil.html.twig" with {'discipline' : power } %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
