{% extends "character_sheet/vampire/element/devotions.html.twig" %}

{% trans_default_domain 'character' %}

{% block list %}
  {% for characterDevotion in characterDevotions %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="devotion-block w-100 container g-0">
        {% include "character_sheet/vampire/edit/devotion.html.twig" with { 'devotion': characterDevotion } %}
      </div>
    </div>
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">New devotions</h2>
  {% for devotion in devotions %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="block w-100 container g-0">
        {% include "character_sheet/vampire/edit/devotion.html.twig" with { 'devotion': devotion } %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
