{% extends "character_sheet/vampire/element/disciplines.html.twig" %}

{% trans_default_domain 'character' %}

{% block list %}
  {% set maxPower = 5 %}
  {% for characterDiscipline in characterDisciplines %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="discipline-block w-100 container g-0">
        {% set min = characterDiscipline.level %}
        {% set base = characterDiscipline.level %}
        {% set max = characterDiscipline.discipline.maxLevel %}
        {% if max == 0 %}{% set max = 5 %}{% endif %}
        {% include "character_sheet/vampire/edit/discipline.html.twig" with { 'characterDiscipline': characterDiscipline, 'discipline': characterDiscipline.discipline } %}
      </div>
    </div>
  {% endfor %}
  <h2 class="text-center py-3 user-select-none">New Disciplines</h2>
  {% for discipline in disciplines %}
    <div class="col-12 col-lg-6 justify-content-center">
      <div class="block w-100 container g-0 my-2">
        {% set min = 0 %}
        {% set base = 0 %}
        {% set max = discipline.maxLevel %}
        {% if max == 0 %}{% set max = 5 %}{% endif %}
        {% include "character_sheet/vampire/edit/discipline.html.twig" with {'discipline' : discipline } %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
