
{# {% trans_default_domain 'item' %}

<div class="text-strong">
  {% include "_icon.html.twig" with {icon: 'quality'} %}
  {{ item.quality }}
  {% if item.quality == 0 %}
    {{ "quality.variable"|trans }}
  {% endif %}
  {% include "_icon.html.twig" with {icon: 'details'} %}
  {{ item.functionality|markdown_to_html }}
</div> #}


{% set cols = {
  'quality': 'quality'
} %}

{% set special = {
  'quality': 0
} %}

{% extends "item/info-table.html.twig" %}