<div class="block m-1 p-2 rounded position-relative">
  <h3>{{ vestment.name }}</h3>
  <h5>{{ vestment.vice }}</h5>
  <hr>
  {{ vestment.effect|markdown_to_html }}
    {% if vestment.statusEffects|length > 0 %}
      <div class="bdr-t pt-1 text-center">
        {% for status in vestment.statusEffects %}
          {% include "_status_icon.html.twig" %}
        {% endfor %}
      </div>
    {% endif %}
</div>