{% trans_default_domain 'character' %}

{% set mental = character.filteredMerits('mental') %}
{% set physical = character.filteredMerits('physical') %}
{% set social = character.filteredMerits('social') %}
{% set relation = character.relationMerits() %}
{% set location = character.filteredMerits('location') %}

{% if mental|length > physical|length and mental|length > social|length %}
  {% set activeTab = "meritMental" %}
{% elseif physical|length > social|length %}
  {% set activeTab = "meritPhysical" %}
{% else %}
  {% if relation|length <= social|length / 2 %}
    {% set activeTab = "meritSocial" %}
  {% else %}
    {% set activeTab = "meritRelation" %}
  {% endif %}
{% endif %}

<div data-controller="tabs" data-tabs-initial-value={{activeTab}} data-tabs-parent-value="merits">
  <ul class="nav tabs row g-0">
    {% if mental is not empty %}
      {% include "_tab.html.twig" with {name: 'meritMental', label: 'category.mental'|trans({}, 'app'), icon: 'mental'} only %}
    {% endif %}
    {% if physical is not empty %}
      {% include "_tab.html.twig" with {name: 'meritPhysical', label: 'category.physical'|trans({}, 'app'), icon: 'physical'} only %}
    {% endif %}
    {% if social is not empty %}
      {% include "_tab.html.twig" with {name: 'meritSocial', label: 'category.social'|trans({}, 'app'), icon: 'social'} only %}
    {% endif %}
    {% if relation is not empty %}
      {% include "_tab.html.twig" with {name: 'meritRelation', label: 'relation'|trans({}, 'character'), icon: 'characters'} only %}
    {% endif %}
    {% if location is not empty %}
      {% include "_tab.html.twig" with {name: 'meritLocation', label: 'category.location'|trans({}, 'app'), icon: 'location'} only %}
    {% endif %}
  </ul>
  <div id="meritMental" class="tab-content d-none" data-tabs-target="page">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% for chMerit in mental %}
        {% include "character_sheet/merits/show/element.html.twig" %}
      {% endfor %}
    </div>
  </div>
  <div id="meritPhysical" class="tab-content d-none" data-tabs-target="page">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% for chMerit in physical %}
        {% include "character_sheet/merits/show/element.html.twig" %}
      {% endfor %}
    </div>
  </div>
  <div id="meritSocial" class="tab-content d-none" data-tabs-target="page">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% for chMerit in social %}
        {% if not chMerit.merit.isRelation %}
          {% include "character_sheet/merits/show/element.html.twig" %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="meritRelation" class="tab-content d-none" data-tabs-target="page">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% for chMerit in relation %}
        {% include "character_sheet/merits/show/element_small.html.twig" %}
      {% endfor %}
    </div>
  </div>
  <div id="meritLocation" class="tab-content d-none" data-tabs-target="page">
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4">
      {% for chMerit in location %}
        {% include "character_sheet/merits/show/element_small.html.twig" %}
      {% endfor %}
    </div>
  </div>
</div>
