{% trans_default_domain 'character' %}

{% set mental = character.filteredMerits('mental') %}
{% set physical = character.filteredMerits('physical') %}
{% set social = character.filteredMerits('social') %}

{% if mental|length > physical|length and mental|length > social|length %}
  {% set activeTab = "mental" %}
{% elseif physical|length > social|length %}
  {% set activeTab = "physical" %}
{% else %}
  {% set activeTab = "social" %}
{% endif %}

<div data-controller="tabs" data-tabs-initial-value={{activeTab}} data-tabs-parent-value="merits">
  <ul class="nav tabs row g-0">
    {% if mental is not empty %}
      {% include "_tab.html.twig" with {name: 'mental', label: 'category.mental'|trans({}, 'app')} only %}
    {% endif %}
    {% if physical is not empty %}
      {% include "_tab.html.twig" with {name: 'physical', label: 'category.physical'|trans({}, 'app')} only %}
    {% endif %}
    {% if social is not empty %}
      {% include "_tab.html.twig" with {name: 'social', label: 'category.social'|trans({}, 'app')} only %}
    {% endif %}
  </ul>
  <div id="mental" class="tab-content d-none" data-tabs-target="page">
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
  {% for chMerit in mental %}
    {% include "character_sheet/merits/show/element.html.twig" with {'merit': chMerit.merit} %}
  {% endfor %}
</div>  </div>
  <div id="physical" class="tab-content d-none" data-tabs-target="page">
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
  {% for chMerit in character.filteredMerits('physical') %}
    {% include "character_sheet/merits/show/element.html.twig" with {'merit': chMerit.merit} %}
  {% endfor %}
</div>  </div>
  <div id="social" class="tab-content d-none" data-tabs-target="page">
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
  {% for chMerit in character.filteredMerits('social') %}
    {% include "character_sheet/merits/show/element.html.twig" with {'merit': chMerit.merit} %}
  {% endfor %}
</div>  </div>
</div>
