{% extends "character_sheet/merits/element.html.twig" %}

{% set id = chMerit.id %}

{% block dot %}
<input id="{{ merit.id ~ '-' ~ value }}" type="checkbox" class="btn-check" autocomplete="off" {% if value <= chMerit.level %}checked{% endif %} disabled>
<label class="btn dot" for="{{ merit.id ~ '-' ~ value }}"></label>
{% endblock %}

{% block owned %}{% if chMerit is defined %} merit-owned{% endif %}{% endblock %}