{% trans_default_domain 'character' %}

{% block advantages %}
<h2>Advantages</h2>
<div class="row row-cols-3 block mx-0 text">
  <div class="col">defense: <span id="defense" data-character--creation-target="advantage">1</span></div>
  <div class="col">initiative: <span id="initiative" data-character--creation-target="advantage">2</span></div>
  <div class="col">morality: <span id="morality" data-character--creation-target="advantage">7</span></div>
  <div class="col">size: <span id="size" data-character--creation-target="advantage">5</span></div>
  <div class="col">speed: <span id="speed" data-character--creation-target="advantage">7</span></div>
  <div class="col">willpower: <span id="willpower" data-character--creation-target="advantage">2</span></div>
  <div class="col">health: <span id="health" data-character--creation-target="advantage">6</span></div>
</div>
{% endblock %}