{% trans_default_domain 'character' %}

{% block attributes %}
<h2 class="text-center">Attributes</h2>
<p class="text-center text-sub">
  <span data-character--creation-target="creationAttr">0</span>/5 |
  <span data-character--creation-target="creationAttr">0</span>/4 |
  <span data-character--creation-target="creationAttr">0</span>/3 |
  {% trans %}dot.fifth{% endtrans %}
</p>
{% set max = 5 %}
{% set min = 1 %}
{% set base = 1 %}
{# <div class="row">
  <div class="d-none d-lg-flex col-lg-1">
    <div class="row h-100 align-items-center">
      <div class="col-12">Power</div>
      <div class="col-12">Finesse</div>
      <div class="col-12">Resistance</div>
    </div>
  </div>
</div> #}
<div class="row">
  <div class="col-md-4 d-md-flex justify-content-center">
    <div class="block attribute-block">
      <h3 class="text-center pt-1">{% trans %}mental{% endtrans %}</h3>
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'mental', 'attribute': 'intelligence', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'mental', 'attribute': 'wits', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'mental', 'attribute': 'resolve', 'base': base, 'max': max, 'min': min } %}
    </div>
  </div>
  <div class="col-md-4 d-md-flex justify-content-center">
    <div class="block attribute-block">
      <h3 class="text-center pt-1">{% trans %}physical{% endtrans %}</h3>
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'physical', 'attribute': 'strength', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'physical', 'attribute': 'dexterity', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'physical', 'attribute': 'stamina', 'base': base, 'max': max, 'min': min } %}
    </div>
  </div>
  <div class="col-md-4 d-md-flex justify-content-center">
    <div class="block attribute-block">
      <h3 class="text-center pt-1">{% trans %}social{% endtrans %}</h3>
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'social', 'attribute': 'presence', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'social', 'attribute': 'manipulation', 'base': base, 'max': max, 'min': min } %}
      {% include "character/sheet/attribute.html.twig" with {'categorie': 'social', 'attribute': 'composure', 'base': base, 'max': max, 'min': min } %}
    </div>
  </div>
</div>
{% endblock %}