{% trans_default_domain 'character' %}

<div class="row mb-4 justify-content-center">
  {% block create %}{% endblock %}
  {% for discipline in disciplines %}
    <div class="col discipline-block d-none order-2">
      {% block discipline %}{% endblock %}
    </div>
  {% endfor %}
  <div class="col-12 order-1"></div>
</div>