{% trans_default_domain 'character' %}

<div class="row align-items-center justify-content-center px-2">
  <div class="col-7 col-lg-3 text-end">
    {{ discipline.name }}
  </div>
  <div class="col-auto">
    <div class="{% block class %}{% endblock %}" role="group" {% block controller %}{% endblock %} {% block data %}{% endblock %}>
      {% block input %}{% endblock %}
      <div class="dots">
        {% for value in 1..max %}
          {% if value >= 5 and value % 5 == 1 %}
            </div>
            <div class="dots">
          {% endif %}
          {% block dot %}{% endblock %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>