{% extends "character_sheet/merits/elements.html.twig" %}

{% trans_default_domain 'character' %}

{% block creation %}
  <p class="text-center text-strong"><span data-character--creation-target="creationMerit">0</span>/7 |{% trans %}dot.fifth{% endtrans %}</p>
{% endblock %}

{% block list %}
  {% for merit in merits %}
    {% include "character_sheet/merits/new/element.html.twig" %}
  {% endfor %}
{% endblock %}