{% trans_default_domain 'app' %}

<button type="button" class="btn btn-primary w-25 btn-lg mb-2" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
  {{ "prerequisite.add"|trans }}
  {% include "_icon.html.twig" with {'icon': 'add'} %}
</button>
