:root {
  --human-main-font                 : "Trebuchet MS";
  --human-text-font                 : "goudy";
  --human-sub-text-font             : "goudy";
  --human-stylized-font             : "CaslonAntique";
  --human-stylized-font-alt         : "PlasticMan";
}