:root {
  --human-heading-color             : var(--human-main-bright);
  --human-heading-stroke            : var(--human-main-dark);

  --human-h1-font                   : "goudy";
  --human-h2-font                   : "goudy";
  --human-h3-font                   : "goudy";
  --human-h4-font                   : "goudy";
  --human-h5-font                   : "goudy";
}


h1.human,
.human h1 {
  color: var(--human-light);
  -webkit-text-stroke: 0.15em var(--human-heading-stroke);
  font-family: var(--human-h1-font);
}

h2.human,
.human h2 {
  color: var(--human-main);
  -webkit-text-stroke: 0.15em var(--human-heading-stroke);
  /* font-size: 1.6rem; */
  font-family: var(--human-h2-font);
}

h3.human,
.human h3 {
  color: var(--human-main);
  -webkit-text-stroke: 0.15em var(--human-heading-stroke);
  /* font-size: 1.4rem; */
  font-family: var(--human-h3-font);
}

h4.human,
.human h4 {
  color: var(--human-main);
  -webkit-text-stroke: 0.15em var(--human-heading-stroke);
  /* font-size: 1.2rem; */
  font-family: var(--human-h4-font);
}

h5.human,
.human h5 {
  color: var(--human-light);
  -webkit-text-stroke: 0.15em var(--human-heading-stroke);
  /* font-size: 1rem; */
  font-family: var(--human-h5-font);
}