{% trans_default_domain 'character' %}

<div class="row align-items-center px-2">
  <div class="col-12 col-md text-truncate">
    <div class="user-select-none text-strong">
      {% include "_icon.html.twig" with {icon: type, 'class': 'd-none d-lg-inline' } only %}
      {{ attribute.name }}
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="my-1" role="group" {% block controller %}{% endblock %} {% block data %}{% endblock %}>
      {% block input %}{% endblock %}
      <div class="dots">
        {% for value in 1..max %}
          {# we create a new dots block, for visual break #}
          {% if value >= 5 and value % 5 == 1 %}
            </div>
            <div class="dots">
          {% endif %}
          {% block dot %}{% endblock %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
