{% trans_default_domain 'attribute' %}

{% set max = character.limit %}
{% set min = 1 %}
{% set base = 1 %}

{% block attributes %}
  <h2 class="user-select-none">{{ "label.multi"|trans }}</h2>
  {% block creation %}{% endblock %}
  {% for category, attributes in attributes %}
    <div class="col col-sm-4 d-flex justify-content-center mb-2">
      <div class="block">
        <h4 class="user-select-none text-center pt-1">{{ ("category." ~ category)|trans({}, 'app') }}</h4>
        {% for type, attribute in attributes %}
          {% block attribute %}{% endblock %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}