@import "~bootstrap/scss/bootstrap";
@import "form";
@import "character";
@import "rabbit";

body {
  background-color: $pageColor;
  background-image: url("../#{$background}");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $textColor;
}

body {
  font-family: $mainFont;
}

h1 {
  color: $titleColor;
  text-shadow: 2px 2px #00000063;
}

h2 {
  font-size: 1.3rem;
  font-family: $h2Font;
  color: $titleColor;
  text-shadow: 2px 2px #00000063;
}

h3 {
  font-size: 1.1rem;
  font-family: $h3Font;
  color: $titleColor;
  text-shadow: 2px 2px #00000063;
}

.d-hide {
  visibility: hidden;
}

.block {
  background-color: $blockColor;
  box-shadow: $mainColor 0px 0px 7px 3px;
  margin-bottom: 1rem !important;
  &-solid {
    background-color: $solidBlockColor;
  }
}

.title-block {
  background-color: $inputBackColor;
  padding: 0.2em 1.5em;
  border-radius: 0.2em;
}

.text-sub {
  font-family: $subTextFont;
}

.text {
  font-family: $textFont;
}

.ok {
  color: $mainColor;
  font-weight: bold;
}

.ko {
  color: $wrongColor;
}

.btn.btn-primary {
  background-color: $blockColor;
  border-color: $borderColor;
  color: $btnColor;
  font-weight: bold;
  &:focus, &:hover, &:active {
    box-shadow: 0 0 0 0.25rem $main50pColor;
    color: $textColor;
    background-color: $btnColor;
    border: 1px solid $mainDarkColor;
  }
}

.btn-check {
  & + .btn-primary {
    font-weight: normal;
  }
  &:checked + .btn-primary, &:active + .btn-primary {
    color: $textColor;
    background-color: $btnColor;
    border: 1px solid $mainDarkColor;
  }
  &:focus + .btn-primary, .btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem $main50pColor;
    color: $textColor;
    background-color: $btnColor;
    border: 1px solid $mainDarkColor;
  }
}

.tabs {
  border: none;
  li:first-child > .nav-link {
    border-left-width: 0!important;
  }
  li:last-child > .nav-link {
    border-right-width: 0!important;
  }
  .nav-item {
    .nav-link {
      background-color: $tabColor;
      color: $subtextColor;
      border-color: $borderColor;
      border-width: 0 0 1px 0;
      border-radius: 0%;
      border-style: solid;
      &.active, &:active, &:focus, &:hover {
        color: $textColor;
        background-color: transparent;
        border-color: $borderColor;
        border-width: 1px 1px 0 1px;
      }
      .active {
        color: $mainColor;
      }
    }
  }
}


