@import "~bootstrap/scss/bootstrap";
@import "form";
@import "character";

body {
  background-color: $pageColor;
  background-image: url("../#{$background}");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: $textColor;
}

body {
  font-family: $mainFont;
}

h2 {
  font-size: 1.3rem;
  font-family: $h2Font;
  color: $titleColor;
  text-shadow: 2px 2px #00000063;
}

h3 {
  font-size: 1.1rem;
  font-family: $h3Font;
  color: $titleColor;
  text-shadow: 2px 2px #00000063;
}

.block {
  background-color: $blockColor;
  box-shadow: $mainColor 0px 20px 30px -10px;
  margin-bottom: 1rem !important;
}

.text-sub {
  font-family: $subTextFont;
}

.text {
  font-family: $textFont;
}

.ok {
  color: $mainColor;
  font-weight: bold;
}

.ko {
  color: $wrongColor;
}

.btn.btn-primary {
  background-color: $blockColor;
  border-color: $borderColor;
}