.btn.btn-primary,
.human-btn.btn-primary {
  background-color: $btnColor;
  border-color: $borderColor;
  color: $btnTextColor;
  font-weight: bold;
  text-shadow: $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px,  $btnActiveShadow 0px 0px 3px;

  &:focus,
  &:hover,
  &:active,
  &.active {
    box-shadow: 0 0 0 0.25rem $main50pColor;
    color: $textColor;
    background-color: $btnHover;
    border: 1px solid $mainDarkColor;
  }
  svg, img {
    filter: drop-shadow(-1px 1px 0 $btnActiveShadow) drop-shadow(-1px -1px 0 $btnActiveShadow) drop-shadow(1px -1px 0 $btnActiveShadow) drop-shadow(1px 1px 0 $btnActiveShadow);
  }
}

.btn.btn-back {
  border-right: none!important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
}

.btn.btn-warning {
  background-color: $warningColor;
  border-color: $textDarkColor;
  color: $textDarkColor;
  font-weight: bold;

  &:focus,
  &:hover,
  &:active,
  &.active {
    box-shadow: 0 0 0 0.25rem $main50pColor;
    color: $warningColor;
    background-color: $textDarkColor;
    border: 1px solid $warningColor;
  }
  svg, img {
    filter: drop-shadow(-1px 1px 0 $btnWarningShadow) drop-shadow(-1px -1px 0 $btnWarningShadow) drop-shadow(1px -1px 0 $btnWarningShadow) drop-shadow(1px 1px 0 $btnWarningShadow);
  }
}

.btn.btn-secondary,
.human-btn.btn-primary {
  background-color: #1a2139f5;
  border-color: #3b4984;
  color: #6f80c5;
  font-weight: bold;
  text-shadow: black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px,  black 0px 0px 3px;

  &:focus,
  &:hover,
  &:active,
  &.active {
    box-shadow: 0 0 0 0.25rem #3b498480;
    color: #a1a5b9;
    background-color: rgba(131, 155, 253, 0.5);
    border: 1px solid #161c31;
  }
}

.btn-check {
  & + .btn-primary {
    font-weight: normal;
  }

  &:checked + .btn-primary,
  &:active + .btn-primary {
    color: $textColor;
    background-color: $borderColor;
    border: 1px solid $btnBorderColor;
    font-weight: bold;
  }

  &:focus + .btn-primary,
  .btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem $btnActiveShadow;
    color: $btnActiveTextColor;
    background-color: $btnActiveColor;
    border: 1px solid $mainDarkColor;
  }
}
