.dot {
  background-color: transparent;
  border-color: black;
  margin-left: 1px !important;
  border-radius: 50% !important;
  padding: 6px 5px;
  border-width: 2px;
  &-disabled {
    background-color: rgba(225, 195, 188, 0.26);
  }
}

.btn-check:active, .btn-check:checked {
  + .dot {
    background-color: $mainColor;
    &-locked {
      background-color: black;
    }
  }
}

.attribute {
  &-dots {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
}

.skill {
  &-dots {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
}

.card-merit {
  // min-height: 178px;
}