%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.character {
  &-frame {
    &-list {
      width: 50px;
      height: 50px;
      margin: auto;
      background-color: rgba(#000, .1);
      color: $mainColor;
      box-shadow: inset 0 0 0 1px rgba($mainColor, .5);
      &::before,
      &::after {
        @extend %full-fill;
        content: '';
        z-index: 10;
        margin: -1 * .05 * 100%;
        box-shadow: inset 0 0 0 2px;
        animation: clipList 8s linear infinite;
      }
    
      &::before {
        animation-delay: 8s * -.5;
      }
    }
    &-avatar {
      width: 100px;
      height: 100px;
      margin: auto;
      background-color: rgba(#000, .1);
      color: $mainColor;
      box-shadow: inset 0 0 0 1px rgba($mainColor, .5);
      &::before,
      &::after {
        @extend %full-fill;
        content: '';
        z-index: 10;
        margin: -1 * .05 * 100%;
        box-shadow: inset 0 0 0 2px;
        animation: clipAvatar 8s linear infinite;
      }
    
      &::before {
        animation-delay: 8s * -.5;
      }
    }
  }
}

$list-size: 50px * (1 + .05 * 2);
$path-width: 2px;
@keyframes clipList {
  0%, 100% {clip: rect(0px, $list-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $list-size, 0px); }
  50% {clip: rect($list-size - $path-width, $list-size, $list-size, 0px); }
  75% {clip: rect(0px, $list-size, $list-size, $list-size - $path-width); }
}

$avatar-size: 100px * (1 + .05 * 2);
@keyframes clipAvatar {
  0%, 100% {clip: rect(0px, $avatar-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $avatar-size, 0px); }
  50% {clip: rect($avatar-size - $path-width, $avatar-size, $avatar-size, 0px); }
  75% {clip: rect(0px, $avatar-size, $avatar-size, $avatar-size - $path-width); }
}

.dot {
  background-color: transparent;
  border-color: black;
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 50% !important;
  padding: 6px 5px;
  border-width: 2px;
  &-disabled {
    background-color: rgba(225, 195, 188, 0.26);
  }
}

.btn-check:active, .btn-check:checked {
  + .dot {
    background-color: $mainColor;
    &-locked {
      background-color: black;
    }
  }
}

.dots {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

// .card-merit {
//   // min-height: 178px;
// }

.merit {
  &-filters {
    z-index: 1;
  }
  &-hide {
    position: absolute;
    top: 0;
    left: 12px;
    height:100%;
    width: auto;
    background-color: $main50pColor;
    border: 1px solid $mainColor;
    border-left: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.health-box, .trait-box {
  height:1.5rem;
  width:1.5rem;
  background:#ffffff94;
  &.disabled {
    background-color: rgba(90, 90, 90, 0.342);
    cursor: default;
    pointer-events: none;
  }
  .trait-fill {
    fill: $mainDarkColor;
    stroke: $mainDarkColor;
    stroke-width: 10;
  }
  .health-fill {
    stroke: $mainDarkColor;
    stroke-width: 10;
  }
}


.malus-box {
  height: 1.5rem;
  width: 1.5rem;
}

// Edit

#menu {
  z-index: 10;
  position: fixed;
  top: 50px;
  left: 0;
  padding: 2px 10px;
}

strong {
  color: $mainColor;
}
