input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/* Firefox */
input[type=number] {
  appearance     : textfield;
  -moz-appearance: textfield;
}

.form-control {
  color           : $mainColor;
  background-color: $inputBackColor;

  &:focus {
    color           : $mainBrightColor;
    background-color: $inputActiveBColor;
    box-shadow      : $mainColor 0px 0px 4px 1px;
  }

  border: none;
}

label,
legend {
  font-family: $labelFont;
  color      : $labelColor;
}

input,
textarea {
  font-family   : "arial";
  // font-family: $inputFont;
}

.form-select {
  background-color: $inputBackColor;
  color           : $mainBrightColor;
  border-color    : $mainColor;

  option {
    // background-color: $inputBackColor;
  }
}

.radio-button {
  // color: $mainColor;
  // border: $mainColor;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #000000d6;
  opacity         : 1;
}