.icon {
  display  : inline-block;
  font-size: large;

  &.accent {
    color: $accentColor;
  }

  &.icon-secondary {
    color: $secondaryColor;
    &:hover {
      color: $accentColor;
    }
  }

  &.icon-xs {
    svg {
      height: 0.5em;
      width : 0.5em;
      vertical-align: super;
    }
  }

  &.icon-sm {
    svg {
      height: 0.8em;
      width : 0.8em;
    }
  }

  &.icon-lg {
    vertical-align: 0.2em;

    svg {
      height: 2em;
      width : 2em;
    }
  }

  &.icon-xl {
    vertical-align: 0.8em;

    svg {
      height: 3.5em;
      width : 3.5em;
    }
  }

  svg {
    height: 1.4em;
    width : 1.4em;
  }
}