.merit {
  padding: 1rem 0;
  border-top: 1px solid silver;

  &.merit-vampire,
  &.merit-ghoul {
    color: silver;
    background-color: #481717a1;
    strong {
      color: #b61717;
    }
  }

  &.merit-human {
    background-color: #00134169;
  }

  &-card {
    border: none;
    color: $textColor;
    min-height: 220px;
    .card-header,
    .card-footer {
      background: $darkBlockColor; //#1c1c1c;
      color: $textColor;
    }


    &.merit-owned {
      background-color: $lightBlockColor;
      color: $mainDarkColor;
    }

    .merit-detail {
      border: 1px solid $borderColor;
      border-top: 0;
    }
  }

  &-filters {
    z-index: 1;
    position: sticky;
    top: 8em;
  }

  &-body {
    height: 250px;
    overflow: scroll;
  }
}

#merit-hide {
  position: absolute;
  top: 0;
  left: 12px;
  height: 100%;
  min-height: 60px;
  width: auto;
  background-color: $main50pColor;
  border: 1px solid $mainColor;
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  &.collapsed {
    color: $subtextColor;
  }
}