.merit {
  padding   : 1rem 0;
  border-top: 1px solid silver;

  &.merit-vampire,
  &.merit-ghoul {
    color           : #ca6c6c;
    background-color: #000000b5;
  }

  &.merit-human {
    background-color: rgba(0, 19, 65, 0.41);
  }

  &-card {
    border: none;

    .card-header,
    .card-footer {
      background: $darkBlockColor; //#1c1c1c;
      color     : $textColor;
    }

    min-height: 220px;

    &.merit-owned {
      background-color: $lightBlockColor;
      color           : $mainDarkColor;
    }
  }

  &-filters {
    z-index: 1;
  }

  &-hide {
    position                  : absolute;
    top                       : 0;
    left                      : 12px;
    height                    : 100%;
    width                     : auto;
    background-color          : $main50pColor;
    border                    : 1px solid $mainColor;
    border-left               : none;
    border-top-right-radius   : 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}