.tabs {
  border: none;

  li:first-child>.nav-link {
    border-left-width: 0 !important;
  }

  li:last-child>.nav-link {
    border-right-width: 0 !important;
  }

  .nav-item {
    .nav-link {
      background-color: $tabColor;
      color           : $subtextColor;
      border-color    : $borderColor;
      border-width    : 0 0 1px 0;
      border-radius   : 0%;
      border-style    : solid;

      &.active,
      &:active,
      &:focus,
      &:hover {
        color           : $titleColor;
        background-color: transparent;
        border-color    : $borderColor;
        border-width    : 1px 1px 0 1px;
      }

      .active {
        color: $mainColor;
      }
    }
  }
}

.tab-content {
  padding: 1em;
}