table {
  th, td {
    padding: 5px 14px 5px 12px;
    border: 1px solid $tableAccentColor;
  }
  th {
    background-color: $tableAccentColor;
    color: $tableHeaderColor;
  }

  td {
    color: inherit;
  }
}