.strong {
  color: $strongColor;
}

.accent {
  color: $accentColor;
}

.warning {
  color: $warningColor;
}

.text-sub {
  font-family: $subTextFont;
}

.text {
  font-family: $textFont;
  &-default {
    color: $textColor;
  }
}
