.strong {
  color: $strongColor;
}

.accent {
  color: $accentColor;
}

.warning {
  color: $warningColor;
}

.text {
  font-family: $textFont;
  &-strong {
    filter: drop-shadow(-1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(1px 1px 0 black);
  }

  &-sub {
    font-family: $subTextFont;
  }

  &-bold {
    font-weight: bold;
  }

  &-default {
    color: $textColor;
  }

  &-stylized {
    font-family: $stylizedFont;
  }
}

strong {
  color: $mainBrightColor;
}