.strong {
  color: $strongColor;
}

.accent {
  color: $accentColor;
}

.warning {
  color: $warningColor;
}


.text {
  font-family: $textFont;
  &-strong {
    .accent {
      filter: drop-shadow(-1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(1px 1px 0 black);
    }
    filter: drop-shadow(-1px 1px 0 #ffffff99) drop-shadow(-1px -1px 0 #ffffff99) drop-shadow(1px -1px 0 #ffffff99) drop-shadow(1px 1px 0 #ffffff99);
  }

  &-sub {
    font-family: $subTextFont;
  }

  &-bold {
    font-weight: bold;
  }

  &-default {
    color: $textColor;
  }
}