{% trans_default_domain 'body-thief' %}

{% set roll = special['possession'] %}

<div class="row">
  <div class="col-12">
    <h1 class="lesser-color">{{ roll.name }}</h1>
    <h2 class="lesser-color">
      {% include "_dice_pool.html.twig" with {
        pool: character.detailedDicePool(roll.attributes, roll.skills), 
        contested: roll.contestedText,
      } %}
    </h2>
    <div class="text-center">
    </div>
    <div>{{ roll.details|markdown_to_html }}</div>
  </div>
</div>