{% extends "character_sheet/element/skills.html.twig" %}

{% trans_default_domain 'skill' %}

{% block creation %}
  <span class="d-none">
    <div class="row g-0 align-items-center px-2 new-specialty" data-character--edit-target="specialtyInput" data-trans="{{ 'specialty.label.single'|trans }}">
      <div class="col-8 offset-1 py-1">
        <input class="form-control" type="text">
      </div>
      <div class="col-3 ps-1" role="button" data-action="click->character--edit#removeSpecialty">
        <span class="fa-stack fa-2xs" style="font-size: 0.45rem;">
          <i class="fa-solid fa-star fa-stack-2x"></i>
          <i class="fa-solid fa-lg fa-circle-minus fa-stack-1x" style="color:black;padding-top:1px;"></i>
          <i class="fa-solid fa-lg fa-minus fa-stack-1x" style="color:white;padding-top:1px;"></i>
        </span>
      </div>
    </div>
  </span>
{% endblock %}


{% block skill %}
  {% include "character_sheet/edit/skill.html.twig" with {'base': attribute(character.skills, skill), 'min': attribute(character.skills, skill) } %}
{% endblock %}
