{% extends "character_sheet/edit.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set clan = character.clan %}

{% block header %}
  {% include "character_sheet_type/vampire/header/edit.html.twig" %}
{% endblock %}

{% block form_controller %}
{% endblock %}

{% block form_start %}
  {% set controllers = {
    'data-controller': 'character--merits vampire--power character--edit',
    'data-character--edit-coils-value': character.coilsLevel,
  } %}
  {{ parent() }}
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'vampire', label: 'vampire'|trans({}, 'content-type'), icon: 'type/vampire'} only %}
{% endblock %}

{% block special %}
  <div id="vampire" class="g-0 d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/powers/edit.html.twig" %}
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include "character_sheet/modals/vampire/power_show.html.twig" %}
{% endblock %}