{% extends "character_sheet/show.html.twig" %}

{% trans_default_domain 'character' %}

{% block data_controllers %}
  {{ parent() }}
  vampire--power
{% endblock %}

{% block body_attributes %}
  {{ parent() }}
{% endblock %}


{% block header %}
  {% include "character_sheet_type/vampire/header/show.html.twig" %}
{% endblock %}

{% block traits %}
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row h-100 p-1">
        {% include 'character_sheet_type/vampire/elements/vitae.html.twig' %}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row h-100 p-1">
        {% include 'character_sheet_type/vampire/potency/show.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block health %}
  {% include "character_sheet_type/vampire/traits/health.html.twig" %}
{% endblock %}

{% block subtraits %}
  <div class="row justify-content-center">
    {% block morality %}{{ parent() }}{% endblock %}
    {% if character.clan.parentClan is not null %}
      {% include "character_sheet_type/vampire/elements/weakness.html.twig" with { 'bloodline': character.clan, 'clan': character.clan.parentClan } %}
    {% else %}
      {% include "character_sheet_type/vampire/elements/weakness.html.twig" with { 'clan': character.clan } %}
    {% endif %}
  </div>
{% endblock %}

{% block powers %}
  <div id="vampire" class="g-0 d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/powers/show.html.twig" %}
  </div>
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'vampire', icon: 'type/vampire', label: 'vampire'|trans({}, 'content-type')} only %}
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include "character_sheet/modals/vampire/power_show.html.twig" %}
{% endblock %}