{% extends "character_sheet/show.html.twig" %}

{% trans_default_domain 'character' %}

{% block header %}
  {% include "character_sheet_type/vampire/show/header.html.twig" %}
{% endblock %}

{% block traits %}
  <div class="row mt-2 mb-1">
    <div class="col-12 col-md-6">
      {% include 'character_sheet_type/vampire/show/vitae.html.twig' %}
    </div>
    <div class="col-12 col-md-6">
      {% include 'character_sheet_type/vampire/show/potency.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block subtraits %}
  <div class="row justify-content-center">
    {% include "character_sheet/show/morality.html.twig" with { 'morality': character.moral } %}
    {% if character.clan.parentClan is not null %}
      {% include "character_sheet_type/vampire/show/weakness.html.twig" with { 'bloodline': character.clan, 'clan': character.clan.parentClan } %}
    {% else %}
      {% include "character_sheet_type/vampire/show/weakness.html.twig" with { 'clan': character.clan } %}
    {% endif %}
  </div>
{% endblock %}

{% block powers %}
  <div id="vampire" class="g-0" data-tabs-target="page">
    {% include "character_sheet_type/vampire/show/powers.html.twig" %}
  </div>
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'vampire', icon: 'type/vampire', label: 'vampire'|trans({}, 'content-type')} only %}
{% endblock %}