.discipline {
  &-block {
    background-color: $lightBlockColor;
    color           : $mainDarkColor;
    margin          : 0.5em 0;
    box-shadow      : 0px 0px 5px 0px #000;

    .discipline-header {
      background-color: $darkBlockColor;
      border          : none;
    }

    .details-block {
      background-color: #ffffff2b;

      .power-header {
        background-color: #0000002b;
      }

      .warning {
        color: $wrongColor;
      }
    }

    .text {
      font-family: $textFont;

      &-strong {
        .accent {
          filter: drop-shadow(-1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(1px 1px 0 black);
        }

        filter: drop-shadow(-1px 1px 0 #ffffff99) drop-shadow(-1px -1px 0 #ffffff99) drop-shadow(1px -1px 0 #ffffff99) drop-shadow(1px 1px 0 #ffffff99);
      }
    }

    .fluff,
    blockquote {
      color           : $textBrightColor;
      background-color: $darkBlockColor;
    }
  }
}