:root {
  
  --werewolf-help-color          : #13312f;
  
  --werewolf-input-bg            : rgba(32, 29, 16, 0.75);
  --werewolf-input-active-bg     : rgba(31, 30, 27, 0.75);
  --werewolf-input-font          : "goudy";
  
  --werewolf-label-color         : var(--main-bright);
  --werewolf-label-font          : "goudy";
}