{% extends "character_sheet/edit.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block header %}
  {% include "character_sheet/vampire/edit/header.html.twig" %}
{% endblock %}

{% block special %}
  <div id="vampire" class="g-0" data-tabs-target="page">
    {% include "character_sheet/vampire/edit/special.html.twig" %}
  </div>
{% endblock %}

{% block specialTab %}
  {% include "tab.html.twig" with {'name': 'vampire', 'domain': 'vampire'} only %}
{% endblock %}