{% trans_default_domain 'discipline' %}

{% for power in discipline.powers %}
  <div class="row">
    <div class="col">
      <div class="text-strong {% if discipline.isCoil == false %}text-start{% endif %}">
        {{ power.getLevelDots }}
      </div>
    </div>
    {% if discipline.isCoil == false %}
      <div class="col text-end">
        {% if power.costs is empty %}
          <span class="text-strong">-</span>
        {% endif %}
        {% include "vampire/discipline/powers/_cost.html.twig" with { size: 'icon-sm' } %}
      </div>
    {% endif %}
    <div class="col-12 text-center">{{ power.short }}</div>
  </div>
{% endfor %}
