{% trans_default_domain 'discipline' %}

{% set power = discipline.power %}

<div class="row">
  <div class="col-auto">{{ power.getLevelDots }}</div>
  <div class="col-auto text-center">
    {% if power.costs is empty %}
      —
    {% endif %}
    {% include "vampire/discipline/powers/_cost.html.twig" %}
  </div>
  <div class="col">{{ power.short }}</div>
</div>
