{% extends "base.html.twig" %}

{% trans_default_domain 'discipline' %}

{% set setting = 'vampire' %}
{% set footer = true %}

{% block title %}
	{{ label|default('label.multi')|trans }}
{% endblock %}

{% block bodyController %}
  {{parent() }} search
{% endblock %}

{% block bodyData %}
  data-search-type-value="discipline"
{% endblock %}

{% block shortcuts %}
  {% if chronicle|default(false) == false %}
    
  {% else %}
    {% include "_back.html.twig" with {link: path('homebrew_index', {id: chronicle})} %}
  {% endif %}
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with {title: label|default('label.multi') , domain: "discipline", icon: type} %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>
    <div class="row g-2 pb-2">
      {% for discipline in disciplines|sort((a, b) => a.name|lower <=> b.name|lower) %}
        {% include "vampire/discipline/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
	<div class="col-12 d-flex align-items-center position-relative">
    <span class="search-icon">
      {% include "_icon.html.twig" with  {icon: 'search'} %}
    </span>
    <input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
		{% if is_granted('ROLE_ST') %}
			<div class="ms-auto">
				<a class="btn btn-primary" href="{{ path('vampire_' ~ type ~ '_new') }}">
					<span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add', class: 'icon-sm' } only %}</span>
					{% include "_icon.html.twig" with {icon : type } only %}
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
