{% trans_default_domain 'vampire' %}

{% extends 'vampire/discipline/template.html.twig' %}

{% block title %}{{ "vampire.discipline.power.add"|trans }}{% endblock %}
{% block header %}{{ "vampire.discipline.power.add"|trans({'%discipline%': power.discipline.name}) }}{% endblock %}

{% block actions %}
  <a href="{{ path('discipline_show', {'id': power.discipline.id}) }}">{{ 'back'|trans }}</a>
{% endblock %}