{% trans_default_domain 'vampire' %}

{% extends 'vampire/discipline/template.html.twig' %}

{% block title %}{{ "discipline.power.add"|trans }}{% endblock %}
{% block header %}{{ "#{power.discipline.name} - #{power.name}" }}{% endblock %}

{% block actions %}
  <a class="btn btn-primary ms-4" href="{{ path('discipline_show', {'id': power.discipline.id}) }}">{{ 'back'|trans({}, "app") }}</a>
{% endblock %}