{% extends 'base.html.twig' %}

{% trans_default_domain 'vampire' %}

{% set setting = 'vampire' %}

{% block title %}{{ discipline.name }}{% endblock %}

{% block shortcuts %}
  {% if discipline.isSorcery %}
    {% include "_back.html.twig" with {link: path('vampire_sorcery_index')} %}
  {% elseif discipline.isCoil %}
    {% include "_back.html.twig" with {link: path('vampire_coils_index')} %}
  {% elseif discipline.isThaumaturgy %}
    {% include "_back.html.twig" with {link: path('vampire_thaumaturgy_index')} %}
  {% else %}
    {% include "_back_entity.html.twig" with {
      element: discipline,
      name: 'vampire_discipline'
    } %}
  {% endif %}
{% endblock %}

{% block body %}
  <div class="container py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('vampire_discipline_edit', {id: discipline.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    {% include "vampire/discipline/_show.html.twig" with {isNotModal: 1} %}
  </div>
{% endblock %}