{% extends "item/_card.html.twig" %}

{% block class %}
  col-12 text-center text-md-start d-flex flex-column
{% endblock %}

{% block actions %}
  <div class="row g-0 text-center">
    {% if item.container is not null %}
      <div class="col">
        <button type="button" class="btn btn-primary" data-tabs-target="tab" data-action="click->tabs#show" data-tabs-target-param="container-{{ item.container.id }}">{% include "_icon.html.twig" with {icon: 'back', class:'text-strong'} only %}</button>
      </div>
    {% endif %}
    <div class="col">
      {# Share #}
      <button type="button" class="btn btn-primary {% if item.isShared %}active{% endif %}" data-action="click->character--item#share" data-character--item-id-param="{{ item.id }}">
        {% include "_icon.html.twig" with {icon: 'view', class:'text-strong'} only %}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemDropModal">
        {% include "_icon.html.twig" with {icon: 'delete', class:'text-strong'} only %}
      </button>
    </div>
  </div>
{% endblock %}
