{% trans_default_domain 'character' %}

<div data-controller="tabs" data-tabs-initial-value="container-none" data-tabs-parent-value="inventory">
  {# Containers tabs #}
  <ul class="nav tabs row g-0">
    {% include "_tab.html.twig" with {name: "container-none", label: "—", icon: ''} only %}
    {% for container in character.itemContainers %}
      {% if container.container is null %}
        {% include "_tab.html.twig" with {name: "container-" ~ container.id, label: container.name, icon: 'container', img: container.img, imgType: 'items'} only %}
      {% endif %}
    {% endfor %}
      <a href="{{ path('character_container_add', {'character': character.id }) }}" class="nav-item nav-btn col-1 text-center btn btn-primary position-relative">
        {% include "_icon.html.twig" with {icon: 'container', class:'text-strong'} only %}
        {% include "_icon.html.twig" with {icon: 'add', class:'text-strong position-absolute top-0 icon-sm'} only %}
      </a>
      <a href="{{ path('character_item_list', {'id': character.id }) }}" class="nav-item nav-btn col-1 text-center btn btn-primary position-relative">
        {% include "_icon.html.twig" with {icon: 'item', class:'text-strong'} only %}
        {% include "_icon.html.twig" with {icon: 'add', class:'text-strong position-absolute top-0 icon-sm'} only %}
      </a>
  </ul>
  {# No container display page #}
  <div id="container-none" class="tab-content d-none" data-tabs-target="page">
    <div class="row g-2" data-character--item-target="container" data-container="0" data-controller="search" data-search-type-value="item">
      <div class="col-12 text-center py-2 sticky-element">
        <input type="text" class="search-field text-strong rounded" data-search-target="query" data-action="search#getResults"/>
        {% include "_icon.html.twig" with {icon : 'search' } only %}
      </div>
      {% for item in character.items %}
        {% if not item.isContainer and item.container is null %}
          {% include "character_sheet/items/element.html.twig" with {class: 'col-12 col-md-6 col-lg-4 mb-3'} %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {# Container display page #}
  {% for container in character.itemContainers %}
    <div id="{{ "container-" ~ container.id }}" class="tab-content d-none" data-tabs-target="page">
      {% include "character_sheet/items/container.html.twig" with {item: container} %}
      <div class="row g-2" data-character--item-target="container" data-container="{{ container.id }}" data-controller="search" data-search-type-value="item">
        <div class="col-12 text-center py-2 sticky-element">
          <input type="text" class="search-field text-strong rounded" data-search-target="query" data-action="search#getResults"/>
          {% include "_icon.html.twig" with {icon : 'search' } only %}
        </div>
        {% for item in container.containedItems %}
          {% include "character_sheet/items/element.html.twig" %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>