{% extends "base.html.twig" %}

{% trans_default_domain 'item' %}

{% set footer = true %}

{% block bodyData %}
	data-controller="search" data-search-type-value="item"
{% endblock %}

{% block body %}
<div class="block-light container">
  {% include "_back.html.twig" %}
  <div class="row p-1">
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="item-card">
        <a href="{{ path('character_item_new', {'character': character.id }) }}" class="btn btn-sm btn-menu btn-primary w-100 h-100">
          <div>{{ "new"|trans }}</div>
          <div class="item-preview text-strong text-center">
            {% include "_icon.html.twig" with {icon: 'add', class: 'mx-auto d-block icon-100'} %}
          </div>
        </a>
      </div>
    </div>
    {% for item in templates %}
      {% include "character_sheet/items/list_item.html.twig" %}
    {% endfor %}
  </div>
  {% block modals %}
    {% for item in templates %}
      {% include "character_sheet/modals/item/infos.html.twig" %}
    {% endfor %}
  {% endblock %}
</div>
{% endblock %}

{% block footerContent %}
	<div class="col-12 d-flex align-items-center position-relative">
		<span class="search-icon">
			{% include "_icon.html.twig" with  {icon: 'search'} %}
		</span>
		<input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">
		{% for type in constant('App\\Entity\\Item::TYPELIST') %}
      <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="type" data-search-filter-param="{{ type }}">
        {% include "_icon.html.twig" with {icon : type } only %}
      </a>
    {% endfor %}
		{% if is_granted('ROLE_GM') %}
			<div class="ms-auto">
				<a class="btn btn-primary" href="{{ path('item_new') }}">
					<span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'add' } only %}</span>
					{% include "_icon.html.twig" with {icon : 'item' } only %}
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}