{% extends "base.html.twig" %}

{% trans_default_domain 'book' %}

{% set setting = book.setting %}

{% block title %}{{ book.name }}{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('book_edit', {id: book.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}

    {% include "book/_show.html.twig" with {book : book, isModal: 0} %}
  </div>

  {% include "_back.html.twig" %}
{% endblock %}