{% extends "base.html.twig" %}

{% trans_default_domain 'path' %}

{% set setting = "mage" %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('mage_legacy_edit', {id: legacy.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}

    {% include "mage/legacy/_show.html.twig" with {isModal: 0} %}
  </div>

  
{% endblock %}
