{% trans_default_domain 'character' %}

<div data-controller="tabs" data-tabs-initial-value="traits">
      <ul class="nav tabs row g-0 my-2">
        {% include "tab.html.twig" with {'name': 'traits', 'domain': 'character'} only %}
        {% include "tab.html.twig" with {'name': 'disciplines', 'domain': 'character'} only %}
        {% include "tab.html.twig" with {'name': 'devotions', 'domain': 'character'} only %}
      </ul>
      <div id="traits" data-tabs-target="page">
        {% include "vampire/edit/potency.html.twig" %}
        {% include "character/edit/willpower.html.twig" %}
      </div>
      <div id="disciplines" data-tabs-target="page">
        {% include "vampire/edit/disciplines.html.twig" %}
      </div>
      <div id="devotions" data-tabs-target="page">
        {% include "vampire/edit/devotions.html.twig" %}
      </div>
    </div>

