{% extends 'base.html.twig' %}

{% trans_default_domain 'tribe' %}

{% set setting = 'werewolf' %}

{% block title %}
  {{ tribe.name }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('werewolf_tribe_edit', {id: tribe.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
  {% include "werewolf/tribe/_show.html.twig" with {isModal: 0} %}
  </div>
{% endblock %}

