{% extends "base.html.twig" %}

{% trans_default_domain 'ghoul' %}

{% set setting = "vampire" %}

{% block title %}{{ "family.label.single"|trans }}{% endblock %}

{% block shortcuts %}
  {% if access_decision('edit', family).isGranted %}
    <a class="btn btn-primary mb-2" href="{{ path('ghoul_family_edit', {'id': family.id}) }}">
      {% include "_icon.html.twig" with {icon: 'edit'} only %}
    </a>
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% include "vampire/ghoul/family/_show.html.twig" with {isModal: 0} %}
  </div>
{% endblock %}