{% extends 'base.html.twig' %}

{% block title %}{{ 'note.new'|trans }}{% endblock %}

{% trans_default_domain 'app' %}

{% block body %}
<div class="container">
  <div class="row mb-3 justify-content-end">
    <div class="col-2">
      <a href="{{ path('character_show', {'id': character.id} ) }}" class="btn btn-sm btn-menu btn-primary w-100">
        {% include "icon.html.twig" with {'icon': 'back', 'hasTips': 0} only %}
      </a>
    </div>
  </div>
  <div class="row block">
    <h1 class="text-center mt-3">
      {{ 'note.new'|trans }}
      {% include "icon.html.twig" with {'icon': 'note', 'hasTips': 0} only %}
    </h1>
    <div class="col">
      {{ form(form) }}
    </div>
  </div>
</div>
{% endblock %}
