// TODO check if still needed
.vampire-btn,
.mage-btn,
.werewolf-btn,
.human-btn {
  display         : inline-block;
  font-weight     : 400;
  line-height     : 1.5;
  color           : #212529;
  text-align      : center;
  text-decoration : none;
  vertical-align  : middle;
  cursor          : pointer;
  user-select     : none;
  background-color: transparent;
  border          : 1px solid transparent;
  font-size       : 1rem;
  border-radius   : 0.25rem;
  transition      : color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.human, .blood_bather, .body_thief, .innocents, .psychic, .thaumaturge {
  &.btn,
  &.btn.btn-primary,
  &.btn.btn-primary.btn-human,
  & .btn,
  & .btn.btn-primary {
    color           : #6f80c5;
    background-color: #1a1d29a3;
    border          : 1px solid #6f80c5;

    &:hover,
    &:active,
    &:focus {
      color           : silver;
      background-color: #283971ae;
      box-shadow      : 0 0 0 0.25rem rgba(0, 40, 125, 0.578);
    }

    &:focus-visible {
      outline: 2px solid red;
    }

    .character-card {
      &-avatar {
        border-top: 1px solid #6f80c5;
        border-bottom: 1px solid #6f80c5;
      }
    }
  }
}

$tooltip-max-width: 400px;