.mage {
  color           : #c7ad6c;
  // border          : 1px solid #008886;
  // background-color: #96ba949a;

  &.block {
    background-color: #0087855c;
    outline      : 1px solid rgb(0, 135, 133);

    &-solid {
      background-color: #6a6a6a;
    }
  }

  &>.character-card-avatar {
    border-top   : 1px solid #008785;
    border-bottom: 1px solid #008785;
  }

  &.character-frame-list {
    color: #008785;
  }

  &.btn,
  &.btn.btn-primary,
  & .btn,
  & .btn.btn-primary {
    color           : #c7ad6c;
    background-color: #00888688;
    border          : 1px solid #008886;

    &:hover,
    &:active,
    &:focus {
      background-color: #16555488;
      box-shadow      : 0 0 0 0.25rem rgba(0, 135, 133, 0.5);
    }

    &:focus-visible {
      outline: 2px solid #07cac7;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: #07cac7;
    text-shadow:
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px,
    #000035 0px 0px 3px;
    img {
      filter: drop-shadow(-1px 1px 0 #007d77) drop-shadow(-1px -1px 0 #007d77) drop-shadow(1px -1px 0 #007d77) drop-shadow(1px 1px 0 #007d77);
    }
    .icon {
      color: #007d77;
    }
  }
}