.mage {
  &.block {
    background-color: rgba(0, 135, 133, 0.36);
    box-shadow: 0 0 0 0.25rem rgb(0, 135, 133);
    &-solid {
      background-color: #6a6a6a;
    }
  }
  &>.character-card-avatar {
    border-top: 1px solid rgb(0, 135, 133);
    border-bottom: 1px solid rgb(0, 135, 133);
  }
  &.character-frame-list {
    color: rgb(0, 135, 133);
  }
  &.btn, &.btn.btn-primary, & .btn, & .btn.btn-primary {
    color: #008886;
    background-color: #131313cf;
    border: 1px solid #008886;
    &:hover, &:active, &:focus {
      color: #131313cf;
      background-color: #008886;
      box-shadow: 0 0 0 0.25rem rgba(0, 135, 133, 0.5);
    }
    &:focus-visible {
      outline: 2px solid #07cac7;
    }
  }
  h2, h3, h4, h5 {
    color: #07cac7;
  }
  color: #07cac7;
  border: 1px solid #008886;
  box-shadow: #4cafaa 0px 0px 7px 3px;
  background-color: #96ba949a;
}
