.werewolf {
  &.card-header {
    border-bottom: 1px solid #864211;
  }
  &-btn.btn, &-btn.btn-primary {
    color: #864211;
    background-color: #131313cf;
    border: 1px solid #864211;
    &:hover {
      color: #131313cf;
      background-color: #864211;
    }
  }
  h2, h3, h4, h5 {
    color: #864211;
  }
  color: #864211;
  border: 1px solid #864211;
  box-shadow: #864211 0px 0px 7px 3px;
  background-color: #402818a6;
}
