{% extends 'base.html.twig' %}

{% trans_default_domain 'arcanum' %}

{% block title %}
	{{ "label.multi"|trans }}
{% endblock %}

{% set setting = 'mage' %}

{% block body %}
  {% include "_back.html.twig" %}
  <h1 class="user-select-none py-3">
    {% include "_icon.html.twig" with {'icon' : 'arcanum', 'class' : "icon-lg" } only %}
    {{ "label.multi"|trans }}
  </h1>
  <div class="container block">
    {% for arcanum in arcana %}
      <h2>{{ arcanum.name }}</h2>
      {{ arcanum.purview|markdown_to_html }}
    {% endfor %}
  </div>
{% endblock %}
