{% extends 'base.html.twig' %}

{% trans_default_domain 'arcanum' %}
{% set setting = 'mage' %}

{% block title %}{{ "label.multi"|trans }}{% endblock %}


{% block body %}
  

  {% include "_title.html.twig" with { domain: "arcanum" } %}

  <div class="container block">
    <div id="collapseDescription" class="row justify-content-center collapse p-2">
      <div class="col-12 col-lg-10 col-xl-8">
        {{ description.value|default("")|markdown_to_html }}
      </div>
    </div>

    <div class="row g-2 py-2">
      {% for arcanum in arcana %}
        {% include "mage/arcanum/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
