{% extends 'base.html.twig' %}

{% trans_default_domain 'character' %}

{% block title %}{{ "npc"|trans }}{% endblock %}

{% block body %}
<h1>{{ "npc"|trans }}</h1>
<div class="container">
  <div class="col-4 offset-4">
    <a class="btn btn-sm btn-primary w-100 text-center" href="{{ path('chronicle_npc_add', {'id': chronicle.id}) }}">Create new</a>
  </div>
  <div class="row pt-3">
    {% for character in chronicle.npc %}
      {% include "character/_card.html.twig" %}
    {% endfor %}
  </div>
</div>
{% endblock %}
