{% extends 'character_sheet/peek/header.html.twig' %}

{% trans_default_domain 'ghoul' %}

{% block underAvatar %}
  <div class="col-12 pt-3">
    {% if access.hasRight('regent')|default(false) and character.lesserTemplate.regent is not empty  %}
      {{ "regent.label"|trans }}: <span class="strong">{{ character.lesserTemplate.regent }}</span>
    {% elseif access.hasRight('type')|default(false) or access.hasRight('regent')|default(false) %}
      {{ "regent.label"|trans }}: <span class="warning">{{ "regent.unknown"|trans }}</span>
    {% endif %}
  </div>
  <div class="col-12">
    {% if access.hasRight('family')|default(false) and character.lesserTemplate.family is not empty %}
      
    {% endif %}
  </div>
{% endblock %}