{% extends "base.html.twig" %}

{% trans_default_domain 'thaumaturge' %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block body %}
  <div class="container">
    {% include "human/lesser/thaumaturge/tradition/_card.html.twig" with {path : tradition, shown: true} %}
  </div>

  
{% endblock %}