{% extends 'form.html.twig' %}

{% trans_default_domain 'merit' %}

{% set action = "save" %}

{% block title %}{{ "change.choice.label"|trans }}{% endblock %}

{% block header %}
  <h1>
    {% include "_icon.html.twig" with {icon: 'merit', class: 'icon-lg' } only %}
    {{ "change.choice.label"|trans }}
  </h1>
{% endblock %}

{% block content_end %}
  <p class="text-dark">{{ "change.choice.help"|trans }}</p>
{% endblock %}
