{% extends 'base.html.twig' %}

{% block title %}New Merit
{% endblock %}

{% block body %}
  <h1>Create new Merit</h1>
  <div class="container block py-3">
    {{ include('merit/_form.html.twig') }}
  </div>
  <a href="{{ path('merit_list') }}">back to list</a>
{% endblock %}
