.book {
  box-shadow: 3px 2px 0px #c0c0c08a;
  background-color: $neutralBlockColor;

  &-content {
    a {
      display: block;
    }
  }
}

.left-panel {
  margin-top   : 1em;
  margin-bottom: 1em;
  border-right : 2px solid $mainColor;
}