input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/* Firefox */
input[type=number] {
  appearance     : textfield;
  -moz-appearance: textfield;
}

.block-light .form-control {
  color           : $labelColor;
}

.form-control {
  border: none;
  
  color           : $textColor;
  background-color: $inputBackColor;

  &:focus {
    color           : $mainBrightColor;
    background-color: $inputActiveBColor;
    box-shadow      : $mainColor 0px 0px 4px 1px;
  }
}


// honeypot for bots :)
.form-miel {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.form-switch {
  cursor: ew-resize;
  .form-check-input {
    background-color: darkgray;
    border: 1px solid black;
    &:focus {
      box-shadow: none;
    }
    &:checked {
      background-color: $btnActiveColor;
    }
  }
}

.form-check:not(.form-switch) {
  input {
    border-color: $btnBorderColor;
    background-color: $main50pColor;
    height: 2em;
    width: 2em;
    &:checked {
      background-color: $btnActiveColor;
      border-color: $btnBorderColor;
    }
  }
  label {
    height: 2em;
    line-height: 2em;
    padding-left: 0.5em;
    margin-top: 0.25em;
  }

  &:has(img.form-select-item-avatar) {
    min-height: 45px;
  }
}

.form-choice-width {
  width: 150px;
}

.block-light label,
.block-light legend {
  font-family: $labelFont;
  color      : $labelColor;
}

label,
legend {
  font-family: $labelFont;
  font-weight: bold;
  color      : $textColor;
}

input,
textarea {
  font-family   : "arial";
  &:focus-visible {
    outline: 2px solid $outlineColor;
  }
}

.form-select {
  background-color: $inputBackColor;
  color           : $mainBrightColor;
  border-color    : $mainColor;
}

.form-select-item-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #000000d6;
  opacity         : 1;
}

.rich-editor {
  visibility: collapse;
}
