h1,
h2,
h3,
h4,
h5,
.heading {
  color: $titleColor;
  text-align: center;
  text-shadow:
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px,
    $titleShadow 0px 0px 3px;
  font-weight: bold;

  .icon svg {
    // stroke      : $titleShadow;
    stroke-width: 0.6rem;
  }

  img {
    filter: drop-shadow(-1px 1px 0 $imageShadow) drop-shadow(-1px -1px 0 $imageShadow) drop-shadow(1px -1px 0 $imageShadow) drop-shadow(1px 1px 0 $imageShadow);

    &.no-filter {
      filter: none;
    }
  }

  .icon {
    color: $mainColor default;
    &.accent {
      color: $accentColor!important;
    }
    &.warning {
      color: $warningColor;
    }
  }
}

h1 {
  color      : $titleColor;
  font-family: $h1Font;
}

h2 {
  font-size  : 1.6rem;
  font-family: $h2Font;
}

h3 {
  font-size  : 1.4rem;
  font-family: $h3Font;
}

h4 {
  font-size  : 1.2rem;
  font-family: $h4Font;
}

h5 {
  font-size  : 1rem;
  font-family: $h5Font;
}