.icon {
  display  : inline-block;
  font-size: inherit;

  & svg {
    filter: drop-shadow(-1px 1px 0 $textShadowColor) drop-shadow(-1px -1px 0 $textShadowColor) drop-shadow(1px -1px 0 $textShadowColor) drop-shadow(1px 1px 0 $textShadowColor);
  }

  & img {
    height: 1.4em;
  }

  &-strong svg {
    filter: drop-shadow(-2px 2px 0 #1a1a1a8f) drop-shadow(-2px -2px 0 #1a1a1a8f) drop-shadow(2px -2px 0 #1a1a1a8f) drop-shadow(2px 2px 0 #1a1a1a8f);
  }
  &-light svg {
    filter: drop-shadow(-2px 2px 0 #ffffff8f) drop-shadow(-2px -2px 0 #ffffff8f) drop-shadow(2px -2px 0 #ffffff8f) drop-shadow(2px 2px 0 #ffffff8f);
  }

  &.accent, &.icon-accent {
    color: $accentColor;
    fill: $accentColor;
  }

  &.icon-neutral {
    color: silver;
  }

  &.icon-secondary {
    color: $secondaryColor;

    &:hover {
      color: $accentColor;
    }
  }

  &.icon-xs {
    svg {
      height: 0.5em;
      width : 0.5em;
      vertical-align: super;
    }
  }

  &.icon-sm {
    svg {
      height: 0.8em;
      width : 0.8em;
    }
  }

  &.icon-lg {
    vertical-align: 0.2em;

    svg {
      height: 2em;
      width : 2em;
    }
  }

  &.icon-xl {
    vertical-align: 0.8em;

    svg {
      height: 3.5em;
      width : 3.5em;
    }
  }

  &.icon-100 {
    svg {
      height: 100%;
      width: 100%;
    }
  }

  svg {
    height: 1.4em;
    width : 1.4em;
  }

  &.status-wrapper {
    height: 1.8em;
    width : 1.8em;
    padding: 0.2em;
    background-color:gray;
    border-radius: 0.2em;
    outline: 0.2em solid black;
    &.status-add{
      background-color: transparent;
      outline: 0.2em dashed black;
      color: rgba(192, 192, 192, 0.721);
      &:hover {
        color: silver;
      }
    }
    &.status-buff {
      background-color: rgb(22, 69, 22);
    }
    &.status-debuff {
      background-color: rgb(113, 30, 30);
    }
  }
}