$lesserColor: rgba(149, 54, 217, 0.2);
$lesserHoverColor: rgba(26, 11, 37, 0.616);

.merit {
  padding: 1rem 0;
  border-top: 1px solid silver;
  background-color: #2f2f2f7a;

  &.merit-vampire,
  &.merit-ghoul {
    color: silver;
    background-color: rgba(44, 6, 6, 0.32);
    strong {
      color: #b61717;
    }
  }

  &.merit-btn:hover {
    color: $accentColor;
    background-color: #1717177a;
  }

  &.merit-mage {
    background-color: #0087855c;
  }

  &.merit-human {
    background-color: #00134169;
    &.merit-btn:hover {
      background-color: #000a2185;
    }
  }

  &.merit-blood_bather,
  &.merit-body_thief,
  &.merit-feral,
  &.merit-innocents,
  &.merit-possessed,
  &.merit-psychic,
  &.merit-purified,
  &.merit-thaumaturge
  {
    background-color: $lesserColor;
    &.merit-btn:hover {
      background-color: $lesserHoverColor;
    }
  }

  &-card {
    border: none;
    color: $textColor;
    min-height: 220px;

    &.merit-card-sm {
      min-height: 0;
    }
    .card-header,
    .card-footer {
      background-color: rgba(55, 55, 55, 0.8);
      // background: $darkBlockColor; //#1c1c1c;
      color: $textColor;
    }


    &.merit-owned {
      background-color: $lightBlockColor;
      color: $mainDarkColor;
    }

    .merit-detail {
      border: 1px solid $borderColor;
      border-top: 0;
    }
  }

  &-filters {
    z-index: 1;
    position: sticky;
    top: 8em;
  }

  &-body {
    height: 150px;
    overflow: auto;
  }
}

#merit-hide {
  position: absolute;
  top: 0;
  left: 12px;
  height: 100%;
  min-height: 60px;
  width: auto;
  background-color: $main50pColor;
  border: 1px solid $mainColor;
  border-left: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  &.collapsed {
    color: $subtextColor;
  }
}