.strong {
  color: $strongColor;
}

.accent {
  color: $accentColor;
}

.accent-pale {
  color: #ffe271;
}

.warning {
  color: $warningColor;
}

.error {
  color: $wrongColor;
}

.text {
  font-family: $textFont;

  &-color {
    color: $mainDarkColor;
  }

  &-strong {
    text-shadow:
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px,
      $textShadowColor 0px 0px 3px;
    img {
      filter: drop-shadow(-1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black)
        drop-shadow(1px 1px 0 black);
    }
  }
  &-glow {
    text-shadow:
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px,
      #ffffff99 0px 0px 3px;
    svg {
      filter: drop-shadow(-1px 1px 0 #ffffff99) drop-shadow(-1px -1px 0 #ffffff99) drop-shadow(1px -1px 0 #ffffff99)
        drop-shadow(1px 1px 0 #ffffff99);
    }
  }

  &-sub {
    font-family: $subTextFont;
  }

  &-bold {
    font-weight: bold;
  }

  &-default {
    color: $textColor;
  }

  &-stylized {
    font-family: $stylizedFont;

    &-alt {
      font-family: $stylizedAltFont;
    }
  }

  &-muted {
    color: $helpColor!important;
    svg {
      filter: none;
    }
  }
}

.help-text {
  color: $helpColor;
}
