{% extends "base.html.twig" %}

{% trans_default_domain 'body-thief' %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block shortcuts %}
{% if is_granted('ROLE_ST') %}
  <a class="btn btn-primary mb-2" href="{{ path('body_thief_society_edit', {id: society.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
{% endif %}
{{ parent() }}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% include "human/lesser/body_thief/society/_show.html.twig" with {society : society, shown: true, isModal: 0} %}
  </div>

  
{% endblock %}