{% extends "base.html.twig" %}

{% trans_default_domain 'app' %}

{% block body %}
<h2>{% include "icon.html.twig" with {'icon': 'wiki', 'hasTips': 0 } only %}{{ "wiki"|trans }}</h2>

<div class="container">
  {% include "wiki/base.html.twig" %}
</div>
{% endblock %}