:root {
  --discipline-bg           : var(--vampire-block-light-bg);
  --discipline-header-color : var(--vampire-light);
  --discipline-header-bg    : var(--vampire-block-dark-bg);
}

.discipline-block {
  background-color: var(--discipline-bg);
  margin: 0.5em 0;
  box-shadow: 0px 0px 5px 0px #000;

  .collapsed {
    background-color: #0000002b;
  }

  .discipline-header {
    background-color: var(--discipline-header-bg);
    border: none;
  }

  .text {
    font-family: var(--vampire-text-font);
  }
}

.discipline-new-block {
  background-color: rgba(255, 223, 163, 0.63);
  color: var(--vampire-text-color);
  margin: 0.5em 0;
  box-shadow: 0px 0px 5px 0px #000;

  .collapsed {
    background-color: #0000002b;
  }

  .discipline-header {
    background-color: var(--vampire-block-dark-bg);
    border: none;
  }
}

.power-header-zebra {
  background-color: var(--neutral-block-bg-25a);
}
