:root {
  --vampire-heading-color             : var(--vampire-light);
  --vampire-heading-stroke            : var(--vampire-main-dark);

  --vampire-h1-font                   : "goudy";
  --vampire-h2-font                   : "goudy";
  --vampire-h3-font                   : "goudy";
  --vampire-h4-font                   : "goudy";
  --vampire-h5-font                   : "goudy";
}

h1.vampire, h2.vampire, h3.vampire, h4.vampire, h5.vampire,
.vampire h1, .vampire h2, .vampire h3, .vampire h4, .vampire h5
{
  color: var(--vampire-heading-color);
  -webkit-text-stroke: 0.1em var(--vampire-heading-stroke);
  paint-order: stroke fill;
  /* img {
    filter: drop-shadow(-1px 1px 0 var(--vampire-main-color)) drop-shadow(-1px -1px 0 var(--vampire-main-color)) drop-shadow(1px -1px 0 var(--vampire-main-color)) drop-shadow(1px 1px 0 var(--vampire-main-color));
  } */
  /* .icon {
    color: var(--vampire-main-color);
  } */
}

h1.vampire,
.vampire h1 {
  color: var(--vampire-main-bright);
  -webkit-text-stroke: 0.15em var(--vampire-heading-stroke);
  font-family: var(--vampire-h1-font);
}

h2.vampire,
.vampire h2 {
  color: var(--vampire-main-bright);
  -webkit-text-stroke: 0.15em var(--vampire-heading-stroke);
  /* font-size: 1.8rem; */
  font-family: var(--vampire-h2-font);
}

h3.vampire,
.vampire h3 {
  color: var(--vampire-main-bright);
  -webkit-text-stroke: 0.15em var(--vampire-heading-stroke);
  /* font-size: 1.6rem; */
  font-family: var(--vampire-h3-font);
}

h4.vampire,
.vampire h4 {
  color: var(--vampire-main-bright);
  -webkit-text-stroke: 0.15em var(--vampire-heading-stroke);
  /* font-size: 1.4rem; */
  font-family: var(--vampire-h4-font);
}

h5.vampire,
.vampire h5 {
  color: var(--vampire-text-color);
  -webkit-text-stroke: 0.15em var(--vampire-heading-stroke);
  /* font-size: 1.2rem; */
  font-family: var(--vampire-h5-font);
}