:root {
  --vampire-text-color          : var(--vampire-light);
  --vampire-strong-color        : var(--vampire-main-bright);
  --vampire-text-dark-color     : #000000;
  --vampire-text-bright-color   : #ff6161;
  --vampire-text-shadow-color   : #000;
  --vampire-image-shadow        : rgb(43, 0, 0);
  
  --vampire-blockquote          : var(--vampire-main-dark-75a);

  --vampire-subtext-color       : #a1a5b9a1;

}