{% extends 'base.html.twig' %}

{% trans_default_domain 'society' %}

{% set method = "new"|trans %}
{% if society.id %}
  {% set method = "edit"|trans %}
{% endif %}

{% block title %}{{ method }}{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  <h1>
    {% include "_icon.html.twig" with {icon : 'society', class: 'icon-lg' } only %}
    {{ method }}
  </h1>
  <div class="container block py-3">
    {% include "_form.html.twig" with {'action': 'save'} %}
  </div>
{% endblock %}
