{% extends 'base.html.twig' %}

{% trans_default_domain 'society' %}

{% block title %}{{ "new"|trans }}{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  <h1>
    {% include "_icon.html.twig" with {icon : 'society', class: 'icon-lg' } only %}
    {{ "new"|trans }}
  </h1>
  <div class="container block py-3">
    {% include "element/forms/_form.html.twig" with {'action': 'save'} %}
  </div>
{% endblock %}
