{% extends 'base.html.twig' %}

{% trans_default_domain 'society' %}

{% set method = "new"|trans %}
{% if society.id %}
  {% set method = "edit"|trans %}
{% endif %}

{% block title %}{{ method }}{% endblock %}

{% block body %}
  {% if society.chronicle is defined and method == "new" %}
    {% include "_back.html.twig" with {link: path('chronicle_society_index', {'id': society.chronicle.id })} %}
  {% else %}
    
  {% endif %}
  <h1>
    {% include "_icon.html.twig" with {icon : 'society', class: 'icon-lg' } only %}
    {{ method }}
  </h1>
  <div class="container block py-3">
    {% include "_form.html.twig" with {action: 'save'} %}
  </div>
{% endblock %}
