{% extends 'base.html.twig' %}

{% set footer = true %}

{% trans_default_domain 'society' %}

{% block title %}{{ society.name }}{% endblock %}

{% block shortcuts %}
  {% if society.chronicle is defined %}
    {% include "_back.html.twig" with {link: path('chronicle_society_index', {'id': society.chronicle.id })} %}
  {% else %}
    
  {% endif %}
{% endblock %}

{% block body %}
  {% include "society/_show.html.twig" %}
{% endblock %}

{% block footerContent %}
  <div class="col-12 d-flex justify-content-between position-relative">
    <a class="btn btn-primary" href="{{ path('society_edit', {'id': society.id }) }}">
      {% include "_icon.html.twig" with {icon : 'edit' } only %}
      {% include "_icon.html.twig" with {icon : 'group' } only %}
    </a>
    <a class="btn btn-primary" href="{{ path('society_set_characters', {'id': society.id }) }}">
      {% include "_icon.html.twig" with {icon : 'gears' } only %}
      {% include "_icon.html.twig" with {icon : 'character' } only %}
    </a>
    <button type="button" class="float-end btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal-society-{{ society.id }}">{% include "_icon.html.twig" with {icon: 'delete'} only %}</button>
  </div>
{% endblock %}