{% trans_default_domain 'character' %}

{% block attributes %}
{# <h2 class="text-center">Advantages</h2> #}
<div class="row block mx-0 text">
  <div class="col">{% include "icon.html.twig" with {'icon': 'size'} only %}size: <span id="size">{{ character.size }}</span></div>
  <div class="col">{% include "icon.html.twig" with {'icon': 'speed'} only %}speed: <span id="speed">{{ character.speed }}</span></div>
  <div class="col">{% include "icon.html.twig" with {'icon': 'initiative'} only %}initiative: <span id="initiative">{{ character.initiative }}</span></div>
  <div class="col">{% include "icon.html.twig" with {'icon': 'defense'} only %}defense: <span id="defense">{{ character.defense }}</span></div>
  <div class="col">{% include "icon.html.twig" with {'icon': 'armor'} only %}armor: <span id="armor">0</span></div>
  {# <div class="col">{% include "icon.html.twig" with {'icon': 'morality'} only %}morality: <span id="morality">7</span></div> #}
</div>
{% endblock %}