{% trans_default_domain 'character' %}

{% extends "character/sheet/attribute.html.twig" %}

{% block controller %}role="group" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ ('attribute' ~ '.' ~ base)|trans }}"{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ attribute ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot {% if value <= min %}dot-locked{% endif %}" for="{{ attribute ~ '-' ~ value }}"></label>
{% endblock %}