{% extends "character/sheet/skills.html.twig" %}

{% trans_default_domain 'character' %}

{% block creation %}
  <span class="d-none">
    <div class="row g-0 align-items-center px-2 new-specialty" data-character--edit-target="specialtyInput" data-trans="{{ 'specialty.name'|trans}}">
      <div class="col-8 offset-1 py-1">
        <input class="form-control" type="text">
      </div>
      <div class="col-3 ps-1" role="button" data-action="click->character--edit#removeSpecialty">{% include "icon.html.twig" with {'icon': 'remove-specialty' } only %}</div>
    </div>
  </span>
{% endblock %}


{% block skill %}
  {% include "character/show/skill.html.twig" with {'base': attribute(character.skills, skill) } %}
{% endblock %}
