{% trans_default_domain 'character' %}

<div class="row align-items-center px-2 block">
  <div class="d-inline-block text-center">
    <h3 class="text-center pt-1">{% include "icon.html.twig" with {'icon' : 'willpower', 'hasTips': 0 } only %}{{ 'willpower.name'|trans }}</h3>
  </div>
  <div class="col text-center">
    <div>
      {% set floor = 0 %}
      {% set trait = 'willpower' %}
      {% set max = character.willpower %}
      {% set cWill = character.currentWillpower %}
      {% for index in 1..10 %}
        {% if index <= cWill %}
          {% set value = 1 %}
        {% else %}
          {% set value = 0 %}
        {% endif %}
        {{ include('character/sheet/traitBox.html.twig', {'current': index}) }}
      {% endfor %}
    </div>
  </div>
</div>