{% extends "base.html.twig" %}

{% trans_default_domain 'flaw' %}

{% block title %}
	{{ flaw.name }}
{% endblock %}

{% set setting = flaw.type.name|default("human") %}

{% block body %}
	<div class="container py-5">
		{% if is_granted('ROLE_ST') %}
			<a class="float-end" href="{{ path('flaw_edit', {id: flaw.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
		{% endif %}
		{% include "flaw/_show.html.twig" with {isModal: 0} %}
	</div>

{% endblock %}
