{% trans_default_domain 'app' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = true %}
{% set id = "contentModal" %}

{% block data %}data-content-target="modal"{% endblock %}

{% block title %}{% endblock %}

{% block body %}
  <div id="contentModalContainer"></div>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary btn-lg px-5" data-action="content#open">
    {% include "_icon.html.twig" with {icon: 'wiki'} only %}
  </button>
{% endblock %}