{% trans_default_domain 'app' %}

<div class="modal modal-xl fade" id="contentModal" tabindex="-1" aria-labelledby="contentModalLabel" aria-hidden="true" data-content-target="modal">
  <div class="modal-dialog">
    <div class="modal-content block-modal">
      <div class="modal-header">
        <h5 class="modal-title text-sub" id="contentModalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="contentModalContainer">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary me-5" data-action="content#open">
          {% include "_icon.html.twig" with {icon: 'wiki'} only %}
        </button>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>