{% trans_default_domain 'app' %}

<div class="modal fade" id="meritShowModal" tabindex="-1" aria-labelledby="meritShowModalLabel" aria-hidden="true" data-character--merits-target="modal">
  <div class="modal-dialog">
    <div class="modal-content block-solid">
      <div class="modal-header">
        <h5 class="modal-title text-sub" id="meritShowModalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="MeritShowModalDescription">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary me-5" data-action="character--merits#openWiki" data-character--merits-link-param="{{ path('merit_show', {id: '0'}) }}">
          {% include "_icon.html.twig" with {icon: 'wiki'} only %}
          {# {{ 'action.view'|trans }} #}
        </button>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
    </div>
  </div>
</div>