{% trans_default_domain 'app' %}
{% extends "_modal.html.twig" %}

{% set isLarge = true %}
{% set hasFooter = true %}
{% set id = "meritShowModal" %}

{% block data %}data-character--merits-target="modal"{% endblock %}

{% block title %}{% endblock %}

{% block body %}
  <div id="MeritShowModalDescription"></div>
{% endblock %}

{% block footer %}
  <a type="button" id="meritShowModalChoice" class="btn btn-primary btn-lg px-5" data-character--merits-target="choice" data-link="{{ path('merit_change_choice', {id: '0'}) }}">
    {% include "_icon.html.twig" with {icon: 'note'} only %}
  </a>
  <a type="button" id="meritShowModalRelation" class="btn btn-primary btn-lg px-5" data-character--merits-target="relation" data-link="{{ path('merit_change_relation', {id: '0'}) }}">
    {% include "_icon.html.twig" with {icon: 'infos'} only %}
  </a>
  <button type="button" class="btn btn-primary btn-lg px-5" data-action="character--merits#openWiki" data-character--merits-link-param="{{ path('merit_show', {id: '0'}) }}">
    {% include "_icon.html.twig" with {icon: 'wiki'} only %}
  </button>
{% endblock %}