{% trans_default_domain 'character' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = true %}
{% set id = "xpAddModal" %}

{% block data %}
{% endblock %}

{% block title %}
  {{'xp.modal'|trans([], 'logs-xp') }}
{% endblock %}

{% block body %}
  <input class="form-control" type="number" step="1" min="1" data-character--experience-target="input"/>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary btn-lg p-5 w-100" data-bs-dismiss="modal" data-action="click->character--experience#update" data-character--experience-method-param="add">
    {% include "_icon.html.twig" with {icon: 'xp'} %}
    {{ 'xp.save'|trans([], 'logs-xp') }}
  </button>
{% endblock %}