{% trans_default_domain 'character' %}

<div class="row">
  <h2 class="text-center mt-3">{% trans %}background.label{% endtrans %}</h2>
  <div class="col mx-5">
    {{ form_widget(form.background) }}
  </div>
</div>