{% trans_default_domain 'character' %}

<h2 class="text-center mt-3">{% trans %}specialty.title{% endtrans %}</h2>
<p class="text-center text-sub" data-character--creation-target="creationSpec">({% trans %}specialty.creation{% endtrans %})</p>
<div class="row mx-2">
  <div class="col-12 col-lg-4">
    <div class="p-1">
      {{ form_widget(form.specialty1) }}
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="p-1">
      {{ form_widget(form.specialty2) }}
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="p-1">
      {{ form_widget(form.specialty3) }}
    </div>
  </div>
</div>
