{% extends "_simple_card.html.twig" %}

{% trans_default_domain 'attribute' %}

{% block data %}
  data-content-name-param="{{ attribute.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ link|default(path('attribute_show', {id: attribute.id})) }}"
{% endblock %}

{% block title %}
  <div class="col">
    {{ attribute.name }}
  </div>
  <div class="col">
    {% include "_icon.html.twig" with {icon: attribute.type , class: "icon" } only %}
  </div>
{% endblock %}

{% block content %}
{% endblock %}
