{% trans_default_domain 'vampire' %}

{% block devotions %}
{% block creation %}{% endblock %}
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 mt-0 g-4">
    {% block list %}
    {% endblock %}
  </div>
{% endblock %}