{% trans_default_domain 'vampire' %}

{% if app.user == character.player or is_granted('ROLE_ST') %}
  {% if character.potency > 1 and character.clan.isBloodline is same as(false) %}
    <div class="col-2 col-md-4">
        <a class="vampire-btn btn btn-sm btn-menu btn-primary w-100" href="{{ path('vampire_bloodline_join', {'id': character.id}) }}">
          {% include "_icon.html.twig" with {icon: 'bloodline'} only %}
          <span class="d-none d-md-inline">{{ "bloodline.join"|trans({}, 'clan') }}</span>
        </a>
    </div>
  {% endif %}
{% endif %}
