{% extends "_simple_card.html.twig" %}

{% trans_default_domain 'skill' %}

{% block data %}
  data-content-name-param="{{ skill.name }}"
  data-content-type-param="{{ "label.single"|trans }}"
  data-content-link-param="{{ link|default(path('skill_show', {id: skill.id})) }}"
{% endblock %}

{% block title %}
  <div class="col">
    {% include "_icon.html.twig" with {icon: "skills/#{skill.identifier}" } only %}
  </div>
  <div class="col">
    {{ skill.name }}
  </div>
{% endblock %}

{% block content %}
{% endblock %}
