{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% set setting = "vampire" %}

{% block title %}
  {{ devotion.name }}
{% endblock %}

{% block body %}
  {% include "_back.html.twig" %}
  <div class="container block py-3">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('vampire_devotion_edit', {'id': devotion.id }) }}">{% include "_icon.html.twig" with {icon: 'edit'} %}</a>
      {# {% include "element/_delete.html.twig" with {element: 'devotion', entity: devotion} %} #}
    {% endif %}
    {% include "vampire/devotion/_show.html.twig" with {options: 1} %}
  </div>
{% endblock %}
