{% trans_default_domain 'psychic' %}

<div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 ps-5 pe-3 mt-0 g-4">
  {% for power in psychic.powers %}
    {% include "character_sheet/merits/show/element.html.twig" with {'chMerit': power} %}
  {% endfor %}
</div>