{% extends "character_sheet/header/edit.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block header_left_col %}
  {{ parent() }}
  <div class="col-12">
    {{ form_row(form.lesserTemplate.regent) }}
  </div>
  <div class="col-12">
    {{ form_row(form.lesserTemplate.clan) }}
  </div>
{% endblock %}