{% if back is defined %}
    {% set link = path(back.path, back.params|default({})) %}
{% else %}
  {% set link = link|default(app.request.headers.get('referer')) %}
{% endif %}


<a href="{{ link }}" class="btn btn-primary">
  {% include "_icon.html.twig" with {icon: 'back'} only %}
  {# {{ 'action.back'|trans({}, 'app')}} #}
</a>