{% if back is defined %}
  {% set link = path(back.path, {'id': back.id}) %}
{% else %}
  {% set link = link|default(app.request.headers.get('referer')) %}
{% endif %}


<a href="{{ link }}" class="btn btn-back position-fixed sticky-top end-0" style="top:100px;">{% include "_icon.html.twig" with {'icon': 'back'} %} {{ 'back'|trans({}, 'app')}}</a>