<span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ pool.string|default(null) }}{% if contested|default(null) is not null %} {{ contested }}{% endif %}">
  <span class="text text-strong">
    {% if pool.total > 0 %}
      <span class="fw-bold {% if pool.total < 4 %}warning{% elseif pool.total > 9 %}accent{% endif %}">
        {{ pool.total }}
      </span>
      {% if contested|default(null) is not null %}
        <span class="warning">{% include "_icon.html.twig" with {'icon' : "clash", 'hasTips' : 0, 'class' : 'icon-xs'} only %}</span>
      {% endif %}
      {% include "_icon.html.twig" with {'icon': "dice", 'hasTips': 0} only %}
    {% else %}
      <span class="warning">{{ "luckThrow"|trans([], 'icon') }}</span>
      {% if contested|default(null) is not null %}
        {% include "_icon.html.twig" with {'icon' : "clash", 'hasTips' : 0, 'class' : 'icon-xs'} only %}
      {% endif %}
      {% include "_icon.html.twig" with {'icon': "luckThrow", 'hasTips': 0} only %}
    {% endif %}
  </span>
</span>