{{ form_start(form) }}
  {% block form %}
    {{ form_rest(form) }}
    {% block submit %}
      <div class="text-center fixed-bottom">
        <button class="btn btn-primary btn-lg btn-submit" type="submit">
          {% include "_icon.html.twig" with {icon: 'save'} %}
          {{ ('action.save')|trans({}, 'app') }}
        </button>
      </div>
    {% endblock %}
  {% endblock %}
{{ form_end(form) }}