<div id="{% block id %}{% endblock %}" class="col-12" 
  data-search-target="item"
  {% block data %}{% endblock %}
>
  <div class="group-card">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path("#{route}_edit", {id: element.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    {# Header #}
    <blockquote class="text-center mb-2 rounded-bottom-0">
      <h1>
        {% block name %}{% endblock %}
      </h1>
      {% block subname %}{% endblock %}
    </blockquote>
    {% block image %}{% endblock %}
    <div class="text-center mb-2 fst-italic">
      {% block bonus %}{% endblock %}
    </div>
    {# Footer #}
    <div role="button" data-bs-toggle="modal" data-bs-target="#contentModal" data-action="click->content#load" {% block action %}{% endblock %}>
      <div class="row g-0 back-fluff">
        {% block short %}{% endblock %}
        <div class="col text-end">
          {% include "_icon.html.twig" with {icon: 'wiki'} %}
        </div>
        <div class="col text-end">
          {% include "_source.html.twig" %}
        </div>
      </div>
    </div>
  </div>
</div>