{% trans_default_domain 'app' %}

<div class="modal {% if isLarge|default(false) %}modal-xl{% endif %} fade" id="{{ id }}" tabindex="-1"  aria-labelledby="{{ id }}Title" aria-hidden="true" {% block data %}{% endblock %}>
  <div class="modal-dialog modal-dialog-centered {% block class %}{% endblock %}">
    <div class="modal-content modal-block">
      <div class="modal-header">
        {% block header %}
          <h5 class="modal-title" id="{{ id }}Title">{% block title %}{% endblock %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endblock %}
      </div>
      <div class="modal-body">
        {% block body %}{% endblock %}
      </div>
      {% if hasFooter|default(false) %}
        <div class="modal-footer justify-content-evenly">
          {% block footer %}{% endblock %}
        </div>
      {% endif %}
    </div>
  </div>
</div>


{#
{% trans_default_domain 'app' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = false %}
{% set id = "Modal" %}

{% block data %}
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
{% endblock %}
#}