<span class="search-icon text-bright">
  {% include "_icon.html.twig" with  {icon: 'search', label:false} %}
</span>
<input class="search-field text-strong rounded-end" type="text" data-search-target="query" data-action="search#getResults">