{% if class is not defined %}
  {% set class = 'text-end fst-italic text-muted' %}
{% endif %}

<div class="{{ class }}">
  {% include "_source.html.twig" with {'element': element, 'isShort': isShort|default(false) } only %}
  {% if element.book is not null %}
    {% include "_icon.html.twig" with {icon : 'book'} only %}
  {% elseif element.homebrewFor|default(null) is not null %}
    {% include "_icon.html.twig" with {icon : 'homebrew'} only %}
  {% endif %}
</div>