<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset('rabbit_move_slow.gif', 'images') }}">
    {% if type is not defined %}
      {% set type = "human" %}
    {% endif %}
    {# {% set type = "vampire" %} #}
    {% block stylesheets %}
      {{ encore_entry_link_tags(type) }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags(type) }}
    {% endblock %}
  </head>
  <body {% block bodyData %}{% endblock %}>
    {% if app.user %}
      {% include "header.html.twig" %}
    {% endif %}
    {% for message in app.flashes('notice') %}
      <div class="flash-notice">
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    <div id="rabbit"></div>
  </body>
</html>
