{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% set setting = setting|default('human') %}

{% set isLight = false %}
{% if setting == 'vampire' %}
  {% set isLight = true %}
{% endif %}



{% block title %}{% endblock %}

{% block body %}
  <h1 class="pt-4">{% block header %}{% endblock %}</h1>
  <div class="container block {% if isLight %}block-light{% else %}block{% endif %} py-3 mt-5">
    <div class="row">
      <div class="col">
        {% include "_form.html.twig" %}
      </div>
    </div>
  </div>
  {% include "_back.html.twig" %}
{% endblock %}