{% trans_default_domain 'icon' %}

{% if hasTips|default(true) == true %}
  <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ icon|trans }}">
{% else %}
  <span>
{% endif %}
  {% if icon == 'hide' %}
    <i class="fa-solid fa-eye-slash"></i>
  {% elseif icon == 'general' %}
    <i class="fa-solid fa-id-card"></i>
  {% elseif icon == 'notes' %}
    <i class="fa-solid fa-pen-fancy"></i>
  {% elseif icon == 'relations' %}
    <i class="fa-solid fa-users"></i>
  {% elseif icon == 'background' %}
    <i class="fa-solid fa-book"></i>
  {% elseif icon == 'edit' %}
    <i class="fa-solid fa-file-pen"></i>
  {% elseif icon == 'add' %}
    <i class="fa-solid fa-plus"></i>
  {% elseif icon == 'xp' %}
    <i class="fa-solid fa-x fa-2xs"></i>
    <i class="fa-solid fa-p fa-2xs"></i>
  {% elseif icon == 'power' %}
    <i class="fa-solid fa-meteor fa-fw"></i>
    {# <i class="fa-solid fa-fire-alt fa-fw"></i> #}
  {% elseif icon == 'finesse' %}
    <i class="fa-solid fa-feather fa-fw"></i>
  {% elseif icon == 'resistance' %}
    <i class="fa-solid fa-shield fa-fw"></i>
  {% elseif icon == 'mental' %}
    <i class="fas fa-brain"></i>
  {% elseif icon == 'physical' %}
    <i class="fas fa-running"></i>
  {% elseif icon == 'social' %}
    <i class="fa-solid fa-comments"></i>
  {% elseif icon == 'health' %}
    <i class="fa-solid fa-heart fa-fw"></i>
  {% elseif icon == 'willpower' %}
    <i class="fa-solid fa-hand-fist fa-fw"></i>
{# Merits #}
  {% elseif icon == 'merits' %}
    <i class="fa-solid fa-certificate"></i>
  {% elseif icon == 'creation' %}
    <i class="fa-solid fa-key"></i>
  {% elseif icon == 'style' %}
    <i class="fa-solid fa-hand-fist"></i>
  {% elseif icon == 'all' %}
    <i class="fa-solid fa-earth-europe"></i>
{# Skills #}
  {# mental #}
  {% elseif icon == 'academics' %}
    <i class="fa-solid fa-book fa-fw"></i>
  {% elseif icon == 'computer' %}
    <i class="fa-solid fa-desktop fa-fw"></i>
  {% elseif icon == 'crafts' %}
    <i class="fa-solid fa-screwdriver-wrench fa-fw"></i>
  {% elseif icon == 'investigation' %}
    <i class="fa-solid fa-magnifying-glass fa-fw"></i>
  {% elseif icon == 'medecine' %}
    <i class="fa-solid fa-kit-medical fa-fw"></i>
  {% elseif icon == 'occult' %}
    <i style='padding-right: 3px;font-weight:bold;'>⛧</i>
  {% elseif icon == 'politics' %}
    <i class="fa-solid fa-landmark fa-fw"></i>
  {% elseif icon == 'science' %}
    <i class="fa-solid fa-flask fa-fw"></i>
  {# physical #}
  {% elseif icon == 'athletics' %}
    <i class="fa-solid fa-person-running fa-fw"></i>
  {% elseif icon == 'brawl' %}
    <i class="fa-regular fa-hand-back-fist fa-fw"></i>
  {% elseif icon == 'drive' %}
    <i class="fa-solid fa-car-crash fa-fw"></i>
  {% elseif icon == 'firearms' %}
    <i class="fa-solid fa-gun fa-fw"></i>
  {% elseif icon == 'larceny' %}
    <i class="fa-solid fa-vault fa-fw"></i>
  {% elseif icon == 'stealth' %}
    <i class="fa-solid fa-user-secret fa-fw"></i>
  {% elseif icon == 'survival' %}
    <i class="fa-solid fa-compass fa-fw"></i>
  {% elseif icon == 'weaponry' %}
    <i style='padding-right: 3px;font-weight:bold;font-style:normal;'>🗡</i>
    {# <i class="fa-solid fa-hammer fa-fw"></i> #}
    {# <i style='padding-right: 3px;'>🗡</i> #}
  {# social #}
  {% elseif icon == 'animalKen' %}
    <i class="fa-solid fa-paw fa-fw"></i>
    {# <i class="fa-solid fa-crow fa-fw"></i> #}
  {% elseif icon == 'empathy' %}
    <i class="fa-solid fa-heart-pulse fa-fw"></i>
  {% elseif icon == 'expression' %}
    <i class="fa-solid fa-guitar fa-fw"></i>
  {% elseif icon == 'intimidation' %}
    <i class="fa-solid fa-face-angry fa-fw"></i>
    {# <i class="fa-solid fa-head-side-cough fa-fw"></i> #}
  {% elseif icon == 'persuasion' %}
    <i class="fa-solid fa-handshake fa-fw"></i>
  {% elseif icon == 'socialize' %}
    <i class="fa-solid fa-champagne-glasses fa-fw"></i>
  {% elseif icon == 'streetwise' %}
    <i class="fa-solid fa-city fa-fw"></i>
  {% elseif icon == 'subterfuge' %}
    <i class="fa-solid fa-masks-theater fa-fw"></i>
  {% elseif icon == 'specialties' %}
  {# <i class="fa-solid fa-2xs fa-certificate fa-fw"></i> #}
  {# <i class="fa-solid fa-2xs fa-graduation-cap fa-fw"></i> #}
  <i class="fa-solid fa-2xs fa-star fa-fw"></i>
  {# advantages #}
  {% elseif icon == 'speed' %}
    <i class="fa-solid fa-person-running"></i>
  {% elseif icon == 'size' %}
    <i class="fa-solid fa-arrows-up-down"></i>
  {% elseif icon == 'initiative' %}
    {# <i class="fa-solid fa-star-shooting"></i> #}
    <i class="fa-solid fa-angles-right"></i>
  {% elseif icon == 'defense' %}
    <i class="fa-solid fa-wind"></i>
  {% elseif icon == 'armor' %}
    <i class="fa-solid fa-shield"></i>
{# merit #}
{# Not found #}
  {% else %}
    {{ icon }}
  {% endif %}
</span>