{% trans_default_domain domain %}

<li class="nav-item col">
  <a id="{{ name }}Tab" class="nav-link" href="#{{ name }}" data-tabs-target="tab" data-action="click->tabs#show" data-tabs-target-param="{{ name }}">
    {% include "icon.html.twig" with {'icon': name, 'hasTips': 0} only %}
    {{ name|trans }}
  </a>
</li>