{% extends "character/sheet/disciplines.html.twig" %}

{% trans_default_domain 'character' %}

{% block create %}
<div class="col-12 text-center block-solid mt-2">
  <span class="text-sub fw-bold">{{ "embrace.discipline.creation.info"|trans|raw }}</span>
  ({% trans %}embrace.discipline.creation.favored{% endtrans %}: <span data-character--embrace-target="disciplinesFavored">0</span>)
  <br>
  {% trans %}embrace.discipline.creation.all{% endtrans %}
  <span data-character--embrace-target="disciplinesTotal">0</span>/<span class="ok">3</span>
</div>
{% endblock %}

{% block discipline %}
  {% set max = 3 %}
  {% set min = 0 %}
  {% set base = 0 %}
  {% include "vampire/embrace/discipline.html.twig" %}
{% endblock %}