{% trans_default_domain 'app' %}

{{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn btn-primary w-100">
    {% include "_icon.html.twig" with {icon: action} %}
    {{ ('action.' ~ action)|default('action.save')|trans }}
  </button>
{{ form_end(form) }}
