{% trans_default_domain 'character' %}

{% if character.potency > 1 %}
  <div class="col-2 col-md-4">
      <a class="vampire-btn btn btn-sm btn-menu w-100" href="{{ path('character_embrace', {'id': character.id}) }}">
        {% include "icon.html.twig" with {'icon': 'vampire', 'hasTips': 0} only %}
        <span class="d-none d-md-inline">{{ "vampire.bloodline.join"|trans }}</span>
      </a>
  </div>
{% endif %}