{% trans_default_domain 'character' %}

{% extends 'base.html.twig' %}

{% block title %}Embrace{% endblock %}

{% block body %}
  <h1>You have been embraced...</h1>
  <div class="container block py-3 mt-5">
  </div>
  <a href="{{ path('character_show', {'id': character.id }) }}">back to character</a>
{% endblock %}