{% trans_default_domain 'vampire' %}

{% set characterDisciplines = ghoulCharacter.getFilteredDisciplines('discipline') %}
{% set characterSorcery = ghoulCharacter.getFilteredDisciplines('sorcery') %}
{% set characterThaumaturgy = ghoulCharacter.getFilteredDisciplines('thaumaturgy') %}
{% set characterDevotions = ghoulCharacter.devotions %}

<div data-controller="tabs" data-tabs-initial-value="disciplines">
  <ul class="nav tabs row g-0 my-2">
    {% include "_tab.html.twig" with {name: 'disciplines', icon: 'discipline', label: 'label.multi'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'sorcery', icon: 'pentacle', label: 'sorcery.label.multi'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'thaumaturgy', label: 'thaumaturgy.label'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'devotions', icon: 'devotion', label: 'devotion.label.multi'|trans({}, 'discipline')} only %}
  </ul>
  <div id="disciplines" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/elements.html.twig" with {'characterDisciplines': characterDisciplines, 'disciplines': ghoul.disciplines, 'character': ghoulCharacter} %}
  </div>
  <div id="sorcery" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/sorceries.html.twig" with {'characterDisciplines': characterSorcery, 'disciplines': ghoul.sorcery, 'character': ghoulCharacter} %}
  </div>
  <div id="thaumaturgy" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/elements.html.twig" with {'characterDisciplines': characterThaumaturgy, 'disciplines': ghoul.thaumaturgy} %}
  </div>
  <div id="devotions" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/devotions/edit/elements.html.twig" with {'characterDisciplines': characterDevotions, 'devotions': ghoul.devotions} %}
  </div>
</div>

