{% extends "base.html.twig" %}

{% trans_default_domain 'vampire' %}

{% block title %}{{ "clans.label"|trans([], 'vampire') }}{% endblock %}

{% block body %}
  <div class="container">
    {% include "vampire/clan/card.html.twig" with {'clan' : clan, 'isShown': true} %}
  </div>
{% endblock %}