{% extends "base.html.twig" %}

{% trans_default_domain 'clan' %}

{% set setting = "vampire" %}

{% set element = clan %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block shortcuts %}
  {% include "_back_entity.html.twig" with {name: 'vampire_clan'} %}
  {% include "_top.html.twig" %}
{% endblock %}

{% block body %}
  <div class="container block py-5">
    {% if is_granted('ROLE_ST') %}
      <a class="float-end" href="{{ path('vampire_clan_edit', {id: clan.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}

    {% include "vampire/clan/_show.html.twig" with {clan : clan, isModal: 0} %}
  </div>
{% endblock %}