{% extends "base.html.twig" %}

{% trans_default_domain 'clan' %}

{% set setting = "vampire" %}

{% block title %}{{ "label.single"|trans }}{% endblock %}

{% block body %}
  <div class="container">
    {% include "vampire/clan/_card.html.twig" with {'clan' : clan, 'isShown': true} %}
  </div>
{% endblock %}