{% trans_default_domain 'app' %}
{% extends "_modal.html.twig" %}


{% set isLarge = true %}
{% set hasFooter = true %}
{% set id = "powerShowModal" %}

{% block data %}
  data-vampire--power-target="modal"
{% endblock %}

{% block body %}
  <div id="powerShowModalDescription" class="fluff m-2"></div>
  <div id="powerShowModalEffect"></div>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary btn-lg px-5" data-action="vampire--power#openWiki">
    {% include "_icon.html.twig" with {icon: 'wiki'} only %}
  </button>
{% endblock %}
