:root {
  --item-bg                   : var(--block-light-bg-25a);
  --item-header-bg            : var(--block-dark-bg);
}

.item-card .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
  }

.item-preview img, .item-preview svg {
  object-fit: contain;
  max-height: 200px;
}

.item-detail {
  margin: 1px;
  background-color: var(--item-bg);

}
.item-detail-header {
  margin: 1px;
  background-color: var(--item-header-bg);
}