{% trans_default_domain 'mage' %}

<div class="row">
	<h2 class="text">
		Max Mana — Max Mana/turn</h2>
	<div class="col-6">
		{{ form_row(form.maxMana) }}
	</div>
	<div class="col-6">
		{{ form_row(form.maxManaPerTurn) }}
	</div>
</div>
