{% trans_default_domain type %}

<div class="row">
  <h2 class="text"> Max Vitae — Max Vitae/turn</h2>
  <div class="col-6">
	  {{ form_row(form.maxVitae) }}
  </div>
  <div class="col-6">
	  {{ form_row(form.maxVitaePerTurn) }}
  </div>
</div>