{% trans_default_domain 'mage' %}

<div data-controller="tabs" data-tabs-initial-value="traits">
  <ul class="nav tabs row g-0 mb-2">
    {% include "_tab.html.twig" with {name: 'traits', label: 'traits'|trans({}, 'character')} only %}
    {% include "_tab.html.twig" with {name: 'arcanum', label: 'label.multi'|trans({}, 'arcanum')} only %}
    {% include "_tab.html.twig" with {name: 'rotes', icon: 'spell', label: 'rote.label.multi'|trans({}, 'spell')} only %}
    {# {% include "_tab.html.twig" with {name: 'coils', label: 'coil.label.multi'|trans({}, 'discipline')} only %} #}
    {# {% include "_tab.html.twig" with {name: 'thaumaturgy', label: 'thaumaturgy.label'|trans({}, 'discipline')} only %} #}
    {# {% include "_tab.html.twig" with {name: 'devotions', icon: 'devotion', label: 'devotion.label.multi'|trans({}, 'discipline')} only %} #}
  </ul>
  <div id="traits" class="tab-content d-none" data-tabs-target="page">
    <div class="row">
      <div class="col-12 col-lg mb-3">
        {% include "character_sheet_type/mage/gnosis/edit.html.twig" %}
      </div>
    </div>
  </div>
  <div id="arcanum" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/mage/arcana/edit/elements.html.twig" with {characterArcana: character.arcana, arcana: mage.arcana} %}
  </div>
  <div id="rotes" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/mage/rotes/edit/elements.html.twig" %}
  </div>
</div>

