{% trans_default_domain 'mage' %}

{% set arcana = character.arcana %}

{% set potency  = {
  1: "None (basic success)",
  2: "-2",
  3: "-4",
  4: "-6",
  5: "-8",
} %}

{% set maxArcana = character.highestArcanumLevel %}

<div data-controller="tabs" data-tabs-initial-value="arcana" data-tabs-parent-value="mage">
  {% include "character_sheet_type/mage/powers/_tabs.html.twig" %}
  <div id="arcana" class="tab-content d-none" data-tabs-target="page">
    {% include 'character_sheet_type/mage/arcana/show/elements.html.twig' with {characterArcana: arcana} %}
  </div>
  <div id="magic" class="tab-content d-none" data-tabs-target="page">
    <div class="row text-center collapse">
      <h3>Practice</h3>
      <div class="col">
        {% set currentPractice = 0 %}
        {% for practice in special.practices %}
          {% if practice.level <= maxArcana %}
            {% if practice.level != currentPractice %}
              <hr>
              {% set currentPractice = practice.level %}
            {% endif %}
          
            <h5>
              {{ practice.name }}
              {% for arcanum in character.arcana %}
                {% if arcanum.level >= practice.level %}{% include "_icon.html.twig" with {icon: "arcana/#{arcanum.identifier}"} %}{% endif %}
              {% endfor %}
            </h5>
            <div>
              {{ practice.description }}
            </div>
          {% endif %}
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>
  {# Instant spellcasting factors #}
  {#
  <div class ="row">
    <div>
      Potency
      1 ~ 5, 0 ~ -8
    </div>
    <div>
      Target
      1 ~ 16, 0 ~ -8
    </div>
    <div>
      Target
      1 ~ 16, 0 ~ -8
    </div>
    <div>
      Size
      20- ~ 60, 0 ~ -8
    </div>
    <div>
      Area-Affecting
      1- ~ 16, 0 ~ -8
    </div>
  </div>
  #}
    {# TODO Improvised magic #}
    {# {% include 'character_sheet_type/mage/improvised/show/elements.html.twig' with {characterArcana: arcana} %} #}
    {# {% include 'character_sheet_type/mage/creative/show/elements.html.twig' with {characterArcana: arcana} %} #}
    <div class="row my-2" data-controller="mage--spellcasting">
      <h3>Options</h3>
      {# Sympathetic range #}
      {% include 'character_sheet_type/mage/powers/magic/sympathetic.html.twig' with {characterArcana: arcana} %}
      {# Temporal range #}
      {% include 'character_sheet_type/mage/powers/magic/temporal.html.twig' with {characterArcana: arcana} %}
      {# Target Exemption #}
      {% if character.getArcanumLevel("fate") >= 2 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Target Exemption [{% include "_icon.html.twig" with {icon: "arcana/fate"} %}••]</h4>
          </div>
        </div>
      {% endif %}
      {# conditional duration #}
      {% if character.getArcanumLevel("fate") >= 2 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Conditional Duration [{% include "_icon.html.twig" with {icon: "arcana/fate"} %}••]</h4>
          </div>
        </div>
      {% endif %}
      {# conditional duration #}
      {% if character.getArcanumLevel("fate") >= 2 and character.getArcanumLevel("time") >= 2 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Conditional Trigger [{% include "_icon.html.twig" with {icon: "arcana/fate"} %}•• + {% include "_icon.html.twig" with {icon: "arcana/time"} %}••]</h4>
          </div>
        </div>
      {% endif %}
      {# Unfettered #}
      {% if character.getArcanumLevel("fate") >= 2 and character.getArcanumLevel("time") >= 4 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Unfettered [{% include "_icon.html.twig" with {icon: "arcana/fate"} %}•• + {% include "_icon.html.twig" with {icon: "arcana/time"} %}••••]</h4>
          </div>
        </div>
      {% endif %}
      {# Forces #}
      {% if character.getArcanumLevel("forces") >= 1 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Forces [{% include "_icon.html.twig" with {icon: "arcana/forces"} %}•+]</h4>
          </div>
        </div>
      {% endif %}
      {# Sense the Threads #}
      {% if character.getArcanumLevel("prime") >= 2 and character.getArcanumLevel("space") >= 2 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Sense the Threads [{% include "_icon.html.twig" with {icon: "arcana/prime"} %}•• + {% include "_icon.html.twig" with {icon: "arcana/space"} %}••]</h4>
          </div>
        </div>
      {% endif %}
      {# Prepared Spells #}
      {% if character.getArcanumLevel("time") >= 2 %}
        <div class="col-6 py-2">
          <div class="block py-2 text-center">
            <h4>Prepared Spells [{% include "_icon.html.twig" with {icon: "arcana/time"} %}••]</h4>
          </div>
        </div>
      {% endif %}
      <h3>Rules</h3>
      {% for key, data in special.magic.instant %}
        {% include "character_sheet_type/mage/powers/magic/#{key}.html.twig" %}
      {% endfor %}
      <div class="col-6 pb-2">
        <div class="block p-2">
          <h3>Mana Cost</h3>
          <p>
            +1 if:
          </p>
          <ul>
            <li>Improvised (not ruling)</li>
            <li>Sympathetic</li>
            <li>Aggravated Damage (+ prerequisite Arcana dots)</li>
            <li>Certains effects</li>
            <li>Instant, must all be spent when activating the power</li>
            <li>Extended, must be spent before the final roll</li>
          </ul>
        </div>
      </div>
      <h3>Paradox</h3>
      <div class="col-12 mt-2">
        <div class="block p-2">
          <p>Vulgar, seen by a sleeper: +2</p>
        </div>
      </div>
    </div>
</div>
<div id="rotes" class="tab-content d-none" data-tabs-target="page">
  {% include 'character_sheet_type/mage/rotes/show/elements.html.twig' with {characterArcana: arcana} %}
</div>
{% if character.legacy %}
  <div id="attainments" class="tab-content d-none" data-tabs-target="page">
    {% include 'character_sheet_type/mage/elements/attainments.html.twig' %}
  </div>
{% endif %}
</div>
