{% trans_default_domain 'item' %}

<div class="text-center p-1">
  <div class="row g-0">
    {% for key, column in item.columns %}
      <div class="col">
        <div class="item-detail-header p-1">
          {% if key == 'size' and item.typeName == 'weapon' %}
            {% include "_icon.html.twig" with { icon: 'strength', label: ('strength.label')|trans } %}
            <span class="text-strong">/</span>
          {% endif %}
          {% include "_icon.html.twig" with {icon: column.icon, label: ("#{key}.label")|trans} %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row g-0">
    {% for key, column in item.columns %}
      {% include ["item/table/_#{key}.html.twig", "item/table/_column.html.twig"] %}
    {% endfor %}
  </div>
  {% if item.special|default() %}
    <div class="row g-0">
      <div class="col">
        <div class="item-detail-header p-1">
          {% include "_icon.html.twig" with {icon: 'info', label: ('special.label')|trans} %}
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col">
        <div class="item-detail text-strong">
          {{ item.special }}
        </div>
      </div>
    </div>
  {% endif %}
</div>