{% extends 'base.html.twig' %}

{% trans_default_domain 'item' %}
{% set footer = true %}

{% block title %}
  {{ "label.multi"|trans }}
{% endblock %}

{% block bodyController %}
  {{ parent() }} search
{% endblock %}

{% block shortcuts %}
  {% if chronicle|default(false) == false %}
    {% include "_back.html.twig" %}
  {% else %}
    {% include "_back.html.twig" with { link: path('homebrew_index', {id: chronicle}) } %}
  {% endif %}
  {% include "_top.html.twig" %}
  {% if is_granted('ROLE_ST') %}
    <a class="btn btn-primary btn-sm mt-1" href="{{ path('item_new') }}">
      {% include "_icon.html.twig" with {icon : 'add' } only %}
      <span class="d-none d-md-inline">{% include "_icon.html.twig" with {icon : 'item' } only %}</span>
    </a>
  {% endif %}
{% endblock %}

{% block bodyData %}
  data-search-type-value="item"
{% endblock %}

{% block body %}
  {% include "_title.html.twig" with { domain: "item" } %}
  <div class="container block">
    <div class="row g-2 pb-2">
      {% for item in items %}
        {% include "item/_card.html.twig" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footerContent %}
  {% include "_search.html.twig" with { type: "item" } %}
  <div class="col col-md text-center pt-2">
    {% for type in constant('App\\Entity\\Item::TYPELIST') %}
      <a class="btn btn-primary" role="button" data-action="click->search#switchFilter" data-search-type-param="type" data-search-filter-param="{{ type }}">
        {% include "_icon.html.twig" with {icon : type } only %}
      </a>
    {% endfor %}
  </div>
{% endblock %}
