{% extends "base.html.twig" %}

{% block body %}
  <div class="container block py-5">
    {% if access_decision('edit', item) %}
      <a class="float-end" href="{{ path('item_edit', {id: item.id}) }}">{% include "_icon.html.twig" with {icon: 'edit'} only %}</a>
    {% endif %}
    {% include "item/_show.html.twig" %}
    {% if access_decision('delete', item) %}
      <a class="btn btn-danger" href="{{ path('item_delete', {id: item.id}) }}">{% include "_icon.html.twig" with {icon: 'delete'} only %}</a>
    {% endif %}
  </div>
{% endblock %}