{% extends "character_sheet/skills/elements.html.twig" %}

{% trans_default_domain 'skill' %}

{% block creation %}
  <span class="d-none">
    <div class="row g-0 align-items-center px-2 new-specialty" data-character--edit-target="specialtyInput" data-trans="{{ 'specialty.label.single'|trans }}">
      <div class="col-8 offset-1 py-1">
        <input class="form-control" type="text">
      </div>
      <div class="col-3 ps-1 text-strong" role="button" data-action="click->character--edit#removeSpecialty">
        {% include "_icon.html.twig" with { icon: "delete", class: "icon-sm danger" } %}
      </div>
    </div>
  </span>
{% endblock %}


{% block skill %}
  {% include "character_sheet/skills/edit/element.html.twig" with {
    base: character.skills.get(skill, false),
    min: character.skills.get(skill, false)
  } %}
{% endblock %}
