{% extends "character_sheet/traits/health.html.twig" %}

{% block content %}
  {{ parent() }}
  <div class="col-12 d-none">
    <div class="row mb-1">
      <div class="col">
        <div class="d-inline-block">
          {% include "_icon.html.twig" with {icon: 'vitae'} %}
          {% include "_icon.html.twig" with {icon: 'right'} %}
          {% include "_icon.html.twig" with {icon: 'health', setting: 'human'} %}
          2{% include "_icon.html.twig" with {icon: 'bashing'} %}
        </div>
      </div>
      <div class="col">
        <div class="d-inline-block">
          {% include "_icon.html.twig" with {icon: 'vitae'} %}
          {% include "_icon.html.twig" with {icon: 'right'} %}
          {% include "_icon.html.twig" with {icon: 'health', setting: 'human'} %}
          {% include "_icon.html.twig" with {icon: 'lethal'} %}
        </div>
      </div>
      <div class="col">
        <div class="d-inline-block">
          5{% include "_icon.html.twig" with {icon: 'vitae'} %}
          {% include "_icon.html.twig" with {icon: 'right'} %}
          {% include "_icon.html.twig" with {icon: 'health', setting: 'human'} %}
          {% include "_icon.html.twig" with {icon: 'aggravated'} %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}