{% trans_default_domain 'discipline' %}

{% set characterDisciplines = character.getFilteredDisciplines('discipline') %}
{% set characterSorcery = character.getFilteredDisciplines('sorcery') %}
{% set characterCoils = character.getFilteredDisciplines('coils') %}
{% set characterThaumaturgy = character.getFilteredDisciplines('thaumaturgy') %}
{% set characterDevotions = character.devotions %}

<div data-controller="tabs" data-tabs-initial-value="traits">
  <ul class="nav tabs row g-0 my-2">
    {% include "_tab.html.twig" with {name: 'traits', label: 'traits'|trans({}, 'character')} only %}
    {% include "_tab.html.twig" with {name: 'disciplines', icon: 'discipline', label: 'label.multi'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'sorcery', icon: 'pentacle', label: 'sorcery.label.multi'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'coils', label: 'coil.label.multi'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'thaumaturgy', label: 'thaumaturgy.label'|trans({}, 'discipline')} only %}
    {% include "_tab.html.twig" with {name: 'devotions', icon: 'devotion', label: 'devotion.label.multi'|trans({}, 'discipline')} only %}
  </ul>
  <div id="traits" class="tab-content d-none" data-tabs-target="page">
    <div class="row">
      <div class="col-12 col-lg mb-3">
        {% include "character_sheet_type/vampire/potency/edit.html.twig" %}
      </div>
      <div class="col-12 col-lg mb-3">
        {% include "character_sheet/traits/edit/willpower.html.twig" %}
      </div>
    </div>
  </div>
  <div id="disciplines" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/elements.html.twig" with {'characterDisciplines': characterDisciplines, 'disciplines': vampire.disciplines} %}
  </div>
  <div id="sorcery" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/sorceries.html.twig" with {'characterDisciplines': characterSorcery, 'disciplines': vampire.sorcery} %}
  </div>
  <div id="coils" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/coils.html.twig" with {'characterDisciplines': characterCoils, 'disciplines': vampire.coils} %}
  </div>
  <div id="thaumaturgy" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/disciplines/edit/elements.html.twig" with {'characterDisciplines': characterThaumaturgy, 'disciplines': vampire.thaumaturgy} %}
  </div>
  <div id="devotions" class="tab-content d-none" data-tabs-target="page">
    {% include "character_sheet_type/vampire/devotions/edit/elements.html.twig" with {'characterDisciplines': characterDevotions, 'devotions': vampire.devotions} %}
  </div>
</div>

