<div class="row justify-content-center">
  {% for attainment in character.attainments %}
    <div class="col-12 p-1">
      <div class="block user-select-none h-100 p-3">
          <h3>{{ attainment.name }}</h3>
          <div class="text-center">{{ attainment.description|markdown_to_html }}</div>
      </div>
    </div>
  {% endfor %}
</div>