{% extends "character_sheet/show.html.twig" %}

{% trans_default_domain 'ghoul' %}

{% set ghoulCharacter = character.lesserTemplate %}

{% block data_controllers %}
  {{ parent() }}
  vampire--devotion vampire--power
{% endblock %}

{% block header %}
  {% include "character_sheet_type/ghoul/header/show.html.twig" %}
{% endblock %}

{% block health %}
    {%include "character_sheet/traits/health.html.twig" with {setting : 'human'} %}
{% endblock %}

{% block traits %}
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row h-100 p-1">
      {% include 'character_sheet_type/ghoul/elements/vitae.html.twig'  %}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row h-100 p-1">
      {% include 'character_sheet_type/ghoul/elements/vitae-info.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}

{# {% block subtraits %}
  <div class="row justify-content-center">
    {% include "character_sheet/show/morality.html.twig" with { 'morality': character.moral } %}
    {% if character.clan.parentClan is not null %}
      <div class="col-12">
        {% include "character_sheet_type/ghoul/show/family.html.twig" with { 'clan': ghoul.family } %}
      </div>
    {% else %}
    {% endif %}
  </div>
{% endblock %} #}

{% block powers %}
  <div id="ghoul" class="g-0" data-tabs-target="page">
    {% include "character_sheet_type/ghoul/powers/show.html.twig" %}
  </div>
{% endblock %}

{% block specialTab %}
  {% include "_tab.html.twig" with {name: 'ghoul', icon: 'type/ghoul' , label: 'label.single'|trans} only %}
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include "character_sheet/modals/vampire/power_show.html.twig" %}
  {% include "character_sheet/modals/vampire/devotion_show.html.twig" %}
{% endblock %}