{% extends "character_sheet/attributes/element.html.twig" %}

{% trans_default_domain 'attribute' %}

{% block controller %}role="group" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'value'|trans({'value': base}) }}"{% endblock %}

{% block dot %}
  <input type="checkbox" class="btn-check" id="{{ attribute.id ~ '-' ~ value }}" value="{{ value }}" autocomplete="off" {% if value <= base %}checked{% endif %} disabled>
  <label class="btn dot" for="{{ attribute.id ~ '-' ~ value }}"></label>
{% endblock %}