{% extends "base.html.twig" %}


{% set setting = 'mage' %}

{% block body %}
  {% include "_back_entity.html.twig" with {
    element: spell,
    name: 'mage_spell'
  } %}
  <div class="row justify-content-center">
    {% include "mage/spell/_card.html.twig" %}
  </div>
{% endblock %}