{% extends "base.html.twig" %}


{% set setting = 'mage' %}

{% block body %}
{% include "_back.html.twig" %}
  <div class="row justify-content-center">
    {% include "mage/spell/_card.html.twig" %}
  </div>
{% endblock %}